[2020-03-26 19:46] tiagobugarin opened #3 "About should be Sobre"
Como atualmente está tudo em português, acho melhor o texto do link para o about.htm ser "Sobre"

[2020-03-26 19:47] tiagobugarin opened #4 "Visual clues to identify between links"
A maiúscula vai ajuda a diferenciar do texto anterior, mas acho que cabe um hífen antes para diferenciar ainda mais

[2020-03-26 19:49] tiagobugarin opened #5 "Give better context on artists name"
O nome d@ fotógraf@ vai mudar em algum momento, e atualmente está fora de contexto (o usuário não sabe a que se refere). vale incluir "Foto: " (sem link) antes do nome

[2020-03-26 19:50] tiagobugarin opened #6 "As an user, I want to be able to easily see the menu, so I can find it"
_Deadline: Fri 18:00_

We're going to have bright and dark photos behind the text.

We need a solution that makes the menu easy to see in every context.

[2020-03-26 19:51] tiagobugarin opened #7 "Text size is to large, maybe half?"
O ideal é testarmos em várias condições diferentes, mas para mim o texto da home parece muito grande. talvez deixar ele com metade do tamanho?

[2020-03-26 19:54] tiagobugarin opened #8 "Force HTTPS"
Any one linking to `bucoli.co` should go to the SSL-enabled site.

[2020-03-26 19:54] tiagobugarin commented on #8
Done!

[2020-03-26 19:54] #8 closed

[2020-03-26 21:09] vjpixel commented on #4
We agreed that we should change the order to "Sobre   Foto: Xxx Zzz" to better differentiate between itens

[2020-03-26 21:32] vjpixel commented on #6
We decided to have themes for light and dark backgrounds, and a different theme for mixed backgrounds.

The theme for light background will have dark font colour, and the theme for dark background will do the opposite.

The theme for mixed background will have contours on the letters.

[2020-03-26 21:38] vjpixel opened #9 "As a PM, I want user data, so I can improve the product."
We need to collect data so we can understand better the users.

[2020-03-27 00:01] vjpixel opened #10 "test the 10 images to check if they work on landscape"

[2020-03-27 00:03] vjpixel opened #11 "send daily e-mails"

[2020-03-27 00:04] vjpixel opened #12 "send share e-mail"
Invite people to share the experience with 3 people.

[2020-03-27 00:05] vjpixel opened #13 "As a user, I want an introductory text, so I can better visualize the environment"

[2020-04-06 14:01] vjpixel opened #14 "As a user, I want to have a menu button, so I can better view the picture."
_Deadline: Fri 18:00_

We agreed that's the best way to have a clear view of the picture is by having a discreet menu button. When the user clicks it, it opens the options.

We need to implement a menu.

[2020-04-06 14:04] vjpixel opened #15 "As a staff member, I want to have Google Analytics, so I can make decisions based on data."
This task has 2 steps

- [x] Create GA account/token
- [x] Integrate the token in web website

[2020-04-06 14:07] vjpixel opened #16 "As a staff member, I want to have a email marketing tool, so I can automatize sending emails"
The requisites are:
- Free plan
- A/B testing features
- Easy to use

[2020-04-06 14:07] tiagobugarin commented on #10
test for landscape? do you mean portrait?

[2020-04-06 14:47] vjpixel opened #17 "As a staff member, I want to have an A/B testing tool, so I can automatize sending emails"
Since we'll use Google Analytics for website metrics and it's a market leader, Google Optimize seems to be the best solution.

- [ ] Create Optimize account
- [ ] Integrate in the website

[2020-04-06 15:14] vjpixel commented on #17
Right now I'm studying https://sendpulse.com

[2020-04-06 15:18] vjpixel commented on #9
Too generic, this one is divided in #17 and #15, that are better described, so I'm closing it.

[2020-04-06 15:18] #9 closed

[2020-04-06 15:21] vjpixel commented on #7
Since we've decided to use an icon, I'm closing this one.

[2020-04-06 15:21] #7 closed

[2020-04-06 15:22] vjpixel commented on #3
I propose we keep the URL as about.htm so we can have it in many languages in the future.

[2020-04-06 15:23] vjpixel commented on #4
Since we've decided to move to a menu, I think that making it vertical will solve this issue.

[2020-04-06 15:30] vjpixel commented on #10
@tiagobugarin No, it was landscape mode. Someone told me there are some pictures in portrait mode, but it's not true. So I'm closing this issue.

[2020-04-06 15:30] #10 closed

[2020-04-06 15:35] vjpixel commented on #5
Since we decided to just have the artist's name in the About page, this one is outdated.

[2020-04-06 15:35] #5 closed

[2020-04-06 19:21] vjpixel commented on #13
- [ ] 01
- [ ] 01

[2020-04-06 19:29] vjpixel opened #18 "As a user, I want an personalized logo, so I can have a glimpse of the image"
- [ ] 01
- [ ] 02
- [ ] 03
- [ ] 04
- [ ] 05
- [ ] 06
- [ ] 07
- [ ] 08
- [ ] 09
- [ ] 10

[2020-04-06 19:36] vjpixel commented on #15
I did send the GA info to @tiagobugarin on Slack

[2020-04-06 20:30] vjpixel opened #19 "As a user, I want to see the credits, so I can know who made the project"
The credits should be added on the about page, after the text.

### **Créditos**

**Ideia:** VJ pixel

**Desenvolvimento:** Tiago Bugarin

**Fotos:** Bruna Quevedo (include link)

**Textos:** Vanessa Santos

[2020-04-06 20:33] vjpixel opened #20 "As a staff member, I want to have a new first image, so I can give a better experience to the testers"

[2020-04-06 20:34] vjpixel opened #21 "As a user, I want language change, so I can have the text in my own language"

[2020-04-06 20:40] vjpixel opened #22 "As a user, I want a simple way to send feedback, so I can send it"

[2020-04-06 21:01] vjpixel commented on #20
Feedback from users:

poderiam ficar num cantinho para quem quiser revisitar.

[2020-04-06 21:03] vjpixel commented on #13
Information that we need to give:
- When we publish a new image, we'll send an email to all users
- Please open in the computer
- Please give feedback (include instructions)

[2020-04-06 21:10] bruquevedo commented on #18
what is the size for this personalized logo? Thinking that the main plataform where we're gonna use this is the e-mail, right?

[2020-04-06 21:36] vjpixel commented on #19
I just reviewed, it's missing parts of the text.

[2020-04-06 21:39] bruquevedo commented on #18
I checked the size of the image you sent in the e-mail test. It is 800x600. Can I use this?

[2020-04-06 21:39] vjpixel commented on #18
yes!

[2020-04-06 21:40] vjpixel commented on #18
Maybe it's too high. I propose you use 800 as width, and them decide the height.

[2020-04-06 21:42] bruquevedo commented on #18
ok. tks

[2020-04-06 21:46] bruquevedo commented on #18
ok, I'm going to test using 400 px because the image gets more rectangle than square

[2020-04-06 22:15] vjpixel commented on #22
I looked for tools and found this list:

https://alternativeto.net/software/uservoice/?license=free

[2020-04-06 22:16] vjpixel commented on #22
I decided to try UserReport: https://www.userreport.com/

[2020-04-06 22:17] vjpixel commented on #22
- [ ] Define tool
- [ ] Create an account on chosen tool
- [ ] Integrate token

[2020-04-06 22:18] vjpixel commented on #22
I started from this list: https://alternativeto.net/software/uservoice/?license=free

[2020-04-06 22:18] vjpixel commented on #22
I decided to try this tool: https://www.userreport.com/

[2020-04-06 22:19] vjpixel commented on #22
@tiagobugarin this is the tag that needs to be added: <script src="https://sak.userreport.com/bucolico/launcher.js" async id="userreport-launcher-script"></script>

[2020-04-06 22:23] vjpixel commented on #22
Here you can find the sample code to have the feedback as a simple menu item:

https://codepen.io/userreport/pen/qENeXe

[2020-04-07 00:33] vjpixel opened #23 "Hypothesis to test"
- [ ] Changing sender name (pixel vs bucoli.co) increases the email opening rate?
- [ ] Including the cool bucoli.co image increases email CTR?

Can't test yet:
- [ ] Asking for people to open in the computer increases the CTR on computers
- [ ] Asking for people to give feedback improves the feedback rate?

[2020-04-07 14:15] vjpixel commented on #16
@tiagobugarin Can you please review?

If you received the test email, I would consider this task done.

[2020-04-07 15:40] vjpixel commented on #13
This is the feedback form, so we need to include specific instructions.

![Screenshot from 2020-04-07 12-38-34](https://user-images.githubusercontent.com/1034796/78689601-e5a9e680-78cc-11ea-8f23-38e3e0e5fffa.png)

[2020-04-07 16:18] tiagobugarin commented on #16
no email received

[2020-04-07 18:22] vjpixel commented on #16
Are you sure? On SendPulse system, it says:

![Screenshot from 2020-04-07 15-22-05](https://user-images.githubusercontent.com/1034796/78705292-a76bf180-78e3-11ea-85fe-453dfd85be1a.png)

[2020-04-07 22:21] bruquevedo commented on #18
![TOPO-BUCOLICO-01-V3](https://user-images.githubusercontent.com/63117285/78724893-c3cc5600-7904-11ea-92f1-ae8f2a48e75a.jpg)

This is one version of the personalized image for e-mails.

[2020-04-07 23:21] #3 closed

[2020-04-07 23:21] #22 closed

[2020-04-07 23:22] #16 closed

[2020-04-07 23:22] #18 closed

[2020-04-07 23:22] #15 closed

[2020-04-08 00:12] vjpixel commented on #18
Can you send the other image? The one with the landscape.

Em ter., 7 de abr. de 2020 às 19:21, bruquevedo <notifications@github.com>
escreveu:

--
VJ pixel
https://www.instagram.com/vjpixel/
https://www.youtube.com/midiasinstaveis

[2020-04-09 16:11] vjpixel commented on #23
Since it's more a document than an issue, I'm moving it's contents do GDocs.

[2020-04-09 16:11] #23 closed

[2020-04-09 16:28] vjpixel opened #24 "As a staff member, I want to know who users prefer to be the email sender, so I can increase the impact of the messages"
There's a hypothesis that people's connection to the project will be increased if the sender of the emails is the brand itself.

Our first A/B test in the emails will be changing the sender. We still have a small userbase, so we need to be careful when analysing the results.

As soon as we have results, I'll publish them here.

[2020-04-09 16:36] vjpixel commented on #19
I didn't see any change, so I'm moving back to Next Release.

[2020-04-09 16:43] vjpixel opened #25 "As a PM, I want feedback from the email, so I can send a better email to the users."
Send the alpha version of the email to the staff members so they can give feedback to improve it.

Ask them to:
- [ ] Check the grammar
- [ ] Review the design
- [ ] Propose other improvements

[2020-04-09 16:58] vjpixel opened #26 "As a staff member, I want a survey feedback, so I can improve answering rate"
The feedback tool (UserReport) was deployed on the website with the feedback widget, but we decided to change it to the survey widget.

This way we'll have more people answering.

As soon as I have the questions, I'll post them here.

[2020-04-09 17:08] bruquevedo opened #27 "As I user, I want a better legibility on about page so I can read better the text"
Points that I noticed and that are most critical to the launch:

1. Change the opacity of the text box for legibility to get better. It will help, for example, when there is a photo with more white space, like a sky with clouds;

2. Change the font of the text to a fuller one to improve readability;

[2020-04-09 17:20] vjpixel commented on #19
From what we discussed in Slack, the credits should be:

"Bruna, Joshu, Tiago, Vanessa e pixel
Foto: Bruna Quevedo" (with a link for the photographer's website)

[2020-04-09 18:01] vjpixel opened #28 "As a user, I want an onboard, so I can better understand the project"
We decided to use emails to tell people how the project works.

This email should point to the website, as the following emails will do.

This issue is related to #13 and #24.

[2020-04-09 18:42] vjpixel commented on #17
I've just sent @tiagobugarin the code snippet to add Optimize to the website.

[2020-04-09 18:49] vjpixel commented on #13
Right now we need to write an onboarding email, the first email every user will receive from us.

[2020-04-09 18:51] vjpixel commented on #13
The first version that was written:

fico feliz de ter você nessa jornada!

bucoli.co surgiu de minha necessidade, como morador de uma metrópole, de "fugir" da cidade para relaxar. Nós, que passamos em média 7 horas por dia olhando para telas, esquecemos de olhar à nossa volta, esquecemos que o tédio é uma maneira de sentir prazer.

Eu montei a primeira versão dele em 2017, mas nunca lancei por me

[2020-04-09 18:52] vjpixel commented on #13
Version proposed by Joshu:

fico feliz de ter você nessa jornada!

bucoli.co é uma janela para ...
... relaxar.
... pensar na vida.
... se reencontrar.

Nós, que passamos em média 7 horas por dia olhando para telas, esquecemos de olhar à nossa volta, esquecemos que o tédio é uma maneira de sentir prazer.

Eu montei a primeira versão dele em 2017, mas nunca lancei pois o momento não era adequado ..

[2020-04-09 19:04] bruquevedo commented on #20
Delete the image BUCOLICO_01 from the images to be displayed on the site;
![BUCOLICO_01](https://user-images.githubusercontent.com/63117285/78931113-c1403c80-7a7b-11ea-90a5-398032fb47c6.jpg)

[2020-04-09 19:21] bruquevedo commented on #20
@tiagobugarin use the image BUCOLICO_01_V1 (uplodead on the google drive bucolico folder)
![BUCOLICO_01_V1](https://user-images.githubusercontent.com/63117285/78932557-1e3cf200-7a7e-11ea-9550-04498803594c.jpg)

[2020-04-09 19:41] tiagobugarin commented on #4
Outdated

[2020-04-09 19:41] #4 closed

[2020-04-09 19:45] bruquevedo commented on #20
https://drive.google.com/open?id=1k_i898JfSPFtOepmbkEOUAqZ_Usr-lel

[2020-04-09 19:49] bruquevedo commented on #13
Oi Joshu,

fico feliz de ter você nessa jornada!

bucoli.co é uma janela para ...
... relaxar.
... pensar na vida.
... se reencontrar.

Nós, que passamos em média 7 horas por dia olhando para telas, esquecemos de olhar à nossa volta, esquecemos que o tédio é uma maneira de sentir prazer.

Eu montei a primeira versão dele em 2017, mas nunca lancei pois o momento não era adequado ... Eu tinha receio

[2020-04-09 19:51] JoshuSantos commented on #27
[bucolico_200309.pdf](https://github.com/memeLab/bucoli.co/files/4458293/bucolico_200309.pdf)
Ok, I work better by SHOWING than by DESCRIBING, but let's do a little bit of both:

1. What if we ASSUMED a BORDER, since it's a "window of sorts", so that we solve certain legibility problems, like menu and text?

2. What if we make the "SOBRE" text appear from the RIGHT side of the WHITE BORDER so that

[2020-04-09 20:04] JoshuSantos commented on #6
I believe I solved that in #27 ... take a look, @tiagobugarin and @bruquevedo

[2020-04-09 20:08] JoshuSantos commented on #20
What if we ACCUMULATE the images, so in the future, the FIRST image of the DAY is ALWAYS a NEW one... BUT if the user returns more times on the SAME day, the other images will appear RANDOMLY?

[2020-04-09 20:10] JoshuSantos commented on #20
What if we had a "REFRESH button" in order to randomize  the images as the user wants?

[2020-04-09 20:14] bruquevedo commented on #13
Sugestões de título:

Pare por um momento e contemple o que temos para te mostrar;

Abra este e-mail e relaxe por um instante;

Abra este e-mail e contemple o que temos para te mostrar;

O bucoli.co vai te ajudar a relaxar por um momento

[2020-04-09 20:23] JoshuSantos commented on #25
Oi xxxxxxxxxxxxxxxxxxxxx,

fico feliz de ter você nessa jornada!

bucoli.co é uma janela para ...
... relaxar.
... pensar na vida.
... se reencontrar.

Criei o bucoli.co porque percebi quanto tempo eu passava imerso no computador. Eu, assim como você, fico em média 7 horas por dia olhando para telas.

Se você também nunca notou que ficava tanto tempo online, seja bem-vindo ao clube. Mas sabe quem

[2020-04-09 20:33] #19 closed

[2020-04-09 22:26] bruquevedo commented on #27
@JoshuSantos I talked with Tiago and we suggest you to open a new issue with your points because for this first test we already changed the about text

[2020-04-09 22:28] #13 closed

[2020-04-09 22:28] #27 closed

[2020-04-09 22:56] bruquevedo commented on #20
@JoshuSantos we suggest you to open a new issue about the images frequency

[2020-04-09 23:10] bruquevedo commented on #13
Oi Bruna Quevedo,

fico feliz de ter você nessa jornada!

bucoli.co é uma janela para...
 ...relaxar.
  ...pensar na vida.
   ...se reencontrar.

Nós, que passamos muitas horas por dia olhando para telas, esquecemos de olhar à nossa volta, esquecemos que a contemplação é uma maneira de sentir prazer.

Você faz parte de um pequeno grupo de amigos que convidamos porque valorizamos a opinião e acredi

[2020-04-10 13:21] vjpixel commented on #25
Can you please review @tiagobugarin ?

[2020-04-10 13:22] vjpixel commented on #28
Can you please confirm if it was sent, @bruquevedo ?

[2020-04-10 13:35] vjpixel opened #29 "As a staff member, I want organized feedback, so I can reach and analyse it easily"
The feedback is only published in the Slack channel "feedback", making it hard to associate it with the questions and to make notes.

My proposed solution is to create a spreadsheet with the feedback with:
* Questions
* Answers
* Improvements proposed
* Main discoveries

[2020-04-10 13:57] vjpixel commented on #29
I created the spreadsheet and shared in Slack. Please confirm @bruquevedo

[2020-04-10 14:21] bruquevedo commented on #29
ok, received.

[2020-04-14 21:28] #28 closed

[2020-04-14 21:28] #20 closed

[2020-04-14 21:28] #29 closed

[2020-04-14 21:41] vjpixel commented on #24
The way SendPulse divided the emails doesn't allow us to get to a conclusion.

[2020-04-14 22:02] vjpixel commented on #25
@JoshuSantos Can you please confirm that the email was sent?

[2020-04-15 22:32] JoshuSantos opened #30 "As a staff member, I want to post the email texts so that other staff members see it."
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 16:30] bruquevedo opened #31 "As a staff member, I want organized tasks, so I can better collaborate"
The team is still starting to work together and we're still adjusting our way to communicate. As a goal-driven team, our main tool of communication should be GitHub. One way to engage the team with the tool is having well described and organized tasks.

We need to have the sprint tasks created and organized on GitHub.

_Deadline: Wed 14:00_

[2020-04-16 16:31] bruquevedo opened #32 "As a staff member, I want to know how to deliver emails to the inbox, so I reach the users"
For the first email, we sent, only 28% of the users received the first email. 64% of the emails either went to the spam box or wasn't delivered.

Although we have ways to talk with the testers to add an email address to the "no-spam"

We need to find ways to overcome spam filtering for new users.

They will be put as comments on this card, and when issues are created with them we'll link this issu

[2020-04-16 16:38] bruquevedo opened #33 "As a user, I want to see the first picture, so I can experience bucoli.co"
Some users didn't see the first email, because they couldn't find it (even in the spam box).
This task depends on implementing the improvements described in #32

We need to send the first email again to these users.

[2020-04-16 16:41] bruquevedo opened #34 "As a user, I want a beautiful e-mail, so I feel pleasured with bucoli.co"
We hadn't time to plan the design of the template of the first email.

We want to improve the design of the email.

_Deadline: Wed 21:00_

[2020-04-16 16:42] bruquevedo opened #35 "As a user, I want an onboarding, so I can experience the context of the photo"
_Deadline: Wed 21:00_

The team believes that delivering a photo isn't enough for people to understand the bucoli.co's proposal.

We want to write an email related to the picture, so the people can feel immersed in the picture's context.

[2020-04-16 16:47] bruquevedo opened #36 "As a user, I want to get curious about the picture, so I get motivated to see it"
_Deadline: Wed 21:00_

The team believes that having the new picture on the email will make users engaged in visiting bucoli.co.

For this task to be completed #42 needs to be done.

We want to have a personalized logo with the new picture.

[2020-04-16 16:49] bruquevedo opened #37 "As a staff member, I want to be sure that the email is ready, so I know we can send the final version"
_Deadline: Thu 14:00_

We had problems with previous emails not being as we wanted for different reasons.
For this task to be completed #35 and #36 need to be done.

We need to send a test email to the team so everyone can review it before we send the final version.

[2020-04-16 16:52] bruquevedo commented on #37
Please put your feedback here @JoshuSantos @bruquevedo @tiagobugarin

[2020-04-16 16:55] bruquevedo opened #38 "As a user, I want to know that I can see a new photo, so I can have a new experience in the website"
The great moment! Tell the users that we have a new image.

To this task to be completed, #37 need to have the team feedback and suggested changes need to be addressed.

We need to send the final email to the users.

_Deadline: Fri 9:00_

[2020-04-16 16:57] bruquevedo opened #39 "As a staff member, I want to be sure which users received the email, so I can send to the ones that didn't receive"
For the first email, we sent, only 28% of the users received it. 64% of the emails either went to the spam box or wasn't delivered.

We need to check with the users that didn't open it if they received it.

_Deadline: Mon 11:00 ?_

[2020-04-16 16:58] bruquevedo opened #40 "As a user, I want to receive a response to the feedback I sent, so I feel engaged in sending more feedback"
Answering users' feedback is both a way to tell them we're interested in their response, is also a way to guarantee that our email address is whitelisted.

We need to respond to every single feedback we receive.

_Deadline: Tue 18:00_

[2020-04-16 16:59] bruquevedo opened #41 "As a staff member, I want to have feedback organised, so I can easily analyse it"
Having a document organizing all the feedback help the team to easily find and analyze the feedback.

Also, the document has insights from the feedbacks that help us to define what to do next.

We need to organize the feedbacks in the document.

_Deadline: Tue 18:00_

[2020-04-16 17:00] bruquevedo opened #42 "As a user, I want to have a new photo, so I feel engaged with bucoli.co"
The users say they want always changing pictures, but we know that today we can only deliver one new per week.

We need to choose a new picture.

_Deadline: Wed 21:00_

[2020-04-16 17:02] bruquevedo opened #43 "As a user, I want a beautiful website, so I feel pleasured with bucoli.co"
Since we're will keep including new features and it's an image-focused website, it's important to have it well designed and pleasant.

@JoshuSantos is in charge of creating the design and @tiagobugarin of implementing it.

We want to improve the design of the website based on the new features.

_Deadline: Thu 14:00_

[2020-04-16 17:03] bruquevedo opened #44 "As a user, I want to come back to the homepage, so I'm not stuck in the About"
We had a back button in our roadmap and users asked for it, so we consider this a priority.

We need to implement the test button.

_Deadline: Thu 14:00_

[2020-04-16 17:04] bruquevedo opened #45 "As a user, I want a flawless website, so I can enjoy a great experience"
Since we already have users accessing our website, it's important to have a developed version.

We agreed that the URL should be alpha.bucoli.co.

We need to deploy a development website.

_Deadline: Thu 14:00_

[2020-04-16 17:05] bruquevedo opened #46 "As a user of IE 4, I want a flawless website, so I can enjoy a great experience"
Since we have users that use different web browsers, we want to have the website compatible with web browsers with more market share.

We need to update the website to be compatible with the browsers that have at least a 5% market share.

_Deadline: Thu 14:00_

[2020-04-16 17:06] bruquevedo opened #47 "As a Joshu, I want to be part of the team, so I can increase my collaboration"
Joshu is already collaborating, but he's not included as a team member.

Add Joshu as a user.

[2020-04-16 17:07] bruquevedo opened #48 "As a developer, I want a clean and effective code, so I can collaborate"
_Deadline: Fri 18:00_

The old code was just created as a lazy prototype.

We need to review it and make it more readable and effective.

[2020-04-16 17:22] vjpixel commented on #47
@JoshuSantos can you please confirm you exist? (and close this task)

[2020-04-16 18:24] bruquevedo commented on #42
I suggest this one to bem the next image. I already sent it to @tiagobugarin
![BUCOLICO_06](https://user-images.githubusercontent.com/63117285/79492380-4f756f00-7ff6-11ea-8cc4-3b320a9cbd52.jpg)

[2020-04-16 18:31] bruquevedo commented on #36
this is the custom logo for the image of the week
![TOPO-BUCOLICO-02](https://user-images.githubusercontent.com/63117285/79493024-42a54b00-7ff7-11ea-9cab-8a7db3c5c6ac.jpg)

[2020-04-16 18:41] vjpixel commented on #37
We agreed @bruquevedo will be responsible for this task. I'll teach her how to do it.

[2020-04-16 19:11] vjpixel commented on #37
test

[2020-04-16 19:15] vjpixel opened #49 "test"

[2020-04-16 19:22] vjpixel commented on #49
i think it is most likely that people are avoiding to click on links (as should they!) from senders they don't already know and trust. and not even opening emails from unknown senders *again, as should they!).
this makes sense to me, since no one even opened in group B and just a few opened in group A.

another thing that can have an impact: the timeing. people are getting lots of emails this days

[2020-04-16 19:36] #49 closed

[2020-04-16 19:55] tiagobugarin commented on #46
IE4.... ohhh nooooooooooooo
/me fake-faints

seriously, thou, went on to some stats for browser usage on dasktop and laptop computers to find out which ones stays over the +5% margin.

StatCounter - worldwide - mar/2019 até mar/2020 [1]:
* Chrome - 68,11%
* Firefox - 9,25
* Safari - 8,93%

NetMarketShare - worldwide - apr/2019 até mar/2020 [2]:
* Chome - 67,72%
* Firefox - 8,49%
* Internet Explore

[2020-04-16 20:04] tiagobugarin opened #50 "As a developer, I would like to have a testing place to experiment"
Create an `alpha.bucoli.co` subdomain to use as a testing ground for code, styling or any other changes we want before sharing it with the world

[2020-04-16 20:05] tiagobugarin commented on #50
Oh! So nice! @tiagobugarin  I see 'alpha.bucoli.co` is already working!

[2020-04-16 20:07] tiagobugarin commented on #50
Thank you!! @vjpixel helped a lot with this. Send him a heart!

[2020-04-16 20:11] tiagobugarin commented on #50
This issue a duplicate of issue #45 and will be closed.

[2020-04-16 20:11] #50 closed

[2020-04-16 20:19] vjpixel opened #51 "As a user, I want a clean interface, so that I enjoy the experience"
We discussed that we want an interface as clean as possible, so we want to have to just have one button on the homepage.

We want to create a menu to make the interface cleaner.

This issue is just a test issue, a duplicate of #14.

[2020-04-16 20:21] vjpixel commented on #51
- abacaxi
- beterraba
- caruru

1. abacaxi
2. beterraba
3. caruru

- [ ] abacaxi
- [ ] beterraba
- [ ] caruru

[2020-04-16 20:25] vjpixel commented on #51
I quoted part of the before text because it was too long

[2020-04-16 20:26] #51 closed

[2020-04-16 20:36] JoshuSantos commented on #30
Duplicate with issue #35 .

[2020-04-16 20:37] #30 closed

[2020-04-16 20:37] JoshuSantos commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 20:44] JoshuSantos commented on #47
I exist, therefore I am.
I will close it now.

[2020-04-16 20:44] #47 closed

[2020-04-16 20:45] bruquevedo commented on #42
@JoshuSantos could you please review and close the issue?

[2020-04-16 20:47] JoshuSantos commented on #42
I like this image. Congrats.

[2020-04-16 20:47] #42 closed

[2020-04-16 20:48] JoshuSantos commented on #36
I agree.

[2020-04-16 20:48] #36 closed

[2020-04-16 20:49] JoshuSantos commented on #35
@vjpixel and @bruquevedo , please, review this.

[2020-04-16 20:50] tiagobugarin commented on #45
It is done!

@vjpixel would you please review that `alpha.bucoli.co` is working correctly?

[2020-04-16 20:57] tiagobugarin commented on #44
Back button at the about page is done.
@bruquevedo , would you please review that it is working correctly?

[2020-04-16 21:00] bruquevedo commented on #44
@tiagobugarin is it in the bucoli.co ou in the alpha.bucoli.co?

[2020-04-16 21:01] tiagobugarin commented on #44
sorry, `alpha.bucoli.co` !!! :)

[2020-04-16 21:14] tiagobugarin commented on #48
The deadline was not feasible. Will postpone it to the next week.

[2020-04-16 21:27] bruquevedo commented on #44
@tiagobugarin checked! It's really good to have the button and it's working correctly

[2020-04-16 21:27] #44 closed

[2020-04-16 21:31] vjpixel commented on #45
Yes, I can ope alpha.bucoli.co.

[2020-04-16 21:31] #45 closed

[2020-04-16 21:36] vjpixel commented on #11
We decided that will be weekly emails and that we'll have a specific task for it each week, so I'm closing it.

[2020-04-16 21:36] #11 closed

[2020-04-16 21:46] vjpixel opened #52 "As a staff member, I want to collaborate on the email management, so we have a more distributed workflow"
SendPulse only allows access from one user.

Also, most of the emails sent until now were sent from Pixel's account.

We need to create a bucolico email account so we can address both problems.

[2020-04-16 21:50] bruquevedo commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 21:53] bruquevedo commented on #35
@JoshuSantos For now, I just changed the call to action. We need to wait for @vjpixel to tell us what is going to be feedback answer to finish the text

[2020-04-16 21:53] vjpixel commented on #39
Did we define the new deadline for this task?

[2020-04-16 22:02] vjpixel commented on #24
As I addressed on #52, we need to create a specific email account for bucoli.co.

And we just agreed that Bruna will be responsible for email feedback (#40 ).

This makes me wonder: what if Bruna signs the next email?

[2020-04-16 22:04] JoshuSantos commented on #35
@bruquevedo , please check the PDF and comment.
@tiagobugarin , please consider those colors and fonts for the email setup.

REGULAR text: Source Sans Pro Semi-bold 600, 70% black.
QUESTION text: Source Sans Pro Black 900, 70% black.
P.S. text: Source Sans Pro Semi-bold 600 italic, 70% black.
LINK text: Source Sans Pro Black 900, 70% cyan, 20% black.

[
[bucolico_email.pdf](https://github.com/meme

[2020-04-16 22:07] vjpixel commented on #52
@bruquevedo can you please confirm that the email was created and that it can access SendPulse?

[2020-04-16 22:09] vjpixel commented on #12
We decided that will be weekly emails and that we'll have a specific task for it each week, so we'll create a task for this when it's appropriate.

[2020-04-16 22:09] #12 closed

[2020-04-16 22:13] JoshuSantos commented on #35
@bruquevedo please check the PDF and comment.
@tiagobugarin please consider those colors and fonts for the email setup.

REGULAR text: normal, 70% black, #4d4d4d
QUESTION text: bold, 70% black, #4d4d4d
P.S. text: italic, 70% black, #4d4d4d
LINK text: bold, 70% cyan, 20% black, #00a1cb

[2020-04-16 22:17] JoshuSantos commented on #35
All the comments, from the TEXT of the email that I put before up to here, is related to issue #34 .

[2020-04-16 22:17] bruquevedo commented on #52
@vjpixel checked. Everthing working correctly

[2020-04-16 22:19] vjpixel commented on #35
@JoshuSantos the responsibility of formatting the email is not @tiagobugarin's, he only has access to the website.

Also, we have a specific task for the formatting: #34, can you please publish there?

[2020-04-16 22:20] vjpixel commented on #35
Oh, I wrote my comment and only see yours after hit send. @JoshuSantos  =)

[2020-04-16 22:20] vjpixel commented on #34
@JoshuSantos can you edit the template on SendPulse?

[2020-04-16 22:21] bruquevedo commented on #35
@JoshuSantos and about the fonts infos for the site, I belive that the correct issue is the #43

[2020-04-16 22:34] vjpixel commented on #52
@bruquevedo If so, can you please close the issue?

[2020-04-16 22:39] JoshuSantos commented on #34
REGULAR text: normal, 70% black, #4d4d4d
QUESTION text: bold, 70% black, #4d4d4d
P.S. text: italic, 70% black, #4d4d4d
LINK text: bold, 70% cyan, 20% black, #00a1cb

[2020-04-16 22:40] JoshuSantos commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 22:48] bruquevedo commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 22:50] bruquevedo commented on #35
@vjpixel could you please review the text?

[2020-04-16 22:50] vjpixel commented on #32
One user proposed that to just have one link to "bucoli.co" on the email text. I think we should try that.

[2020-04-16 22:51] vjpixel commented on #35
One user proposed that to just have one link to "bucoli.co" on the email text. I think we should try that.

[2020-04-16 22:55] #52 closed

[2020-04-16 23:05] bruquevedo commented on #35
Sugestão 1: E lembre-se: responda este e-mail contando se ele estava na caixa de entrada, spam ou outro local? Tivemos questões técnicas na nossa última mensagem contigo e sua resposta é muito importrante para nós.

Sugestão 2: Tivemos questões técnicas com o recebimento do nosso último e-mail, por isso, pedimos para você nos responder onde você recebeu o e-mail dessa semana: na caixa de entrada,

[2020-04-16 23:07] JoshuSantos commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 23:08] JoshuSantos commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

E se, em vez de focar no que falta, você pensasse em como é bom estar presente, vivendo essa pausa?

Relaxe cono

[2020-04-16 23:18] JoshuSantos commented on #35
Você já fez as contas?

Talvez, você esteja pensando na viagem que não fez.
Nos amigos que não encontrou.
Nos momentos que foram adiados por conta da pandemia.

É bem verdade que a vida está no "pause" para muita gente. Mas, às vezes, pausas são necessárias para a gente se reencontrar.

**E se, em vez de focar no que falta, você se permitisse pensar em como é bom estar presente, vivendo essa pausa

[2020-04-16 23:25] bruquevedo commented on #35
@vjpixel could you please review the issue?

[2020-04-16 23:37] JoshuSantos commented on #34
@bruquevedo and @vjpixel , review the SECOND email.

[2020-04-16 23:40] bruquevedo commented on #34
@JoshuSantos for me it's ok :)

[2020-04-17 00:19] vjpixel commented on #32
I've sent a test email from SendPulse to isNOTspam to check if it can be classified as spam. The result is this report: http://isnotspam.com/newlatestreport.php?email=ins-k6exj0ej%40isnotspam.com

From the report, I suppose that the main problem is test BAYES_99. Search for it on Google, I found: https://stackoverflow.com/questions/33174005/outgoing-email-marked-as-spam-bayes-99

The person that a

[2020-04-17 00:22] vjpixel commented on #31
@tiagobugarin Can you please review?

[2020-04-17 00:26] vjpixel commented on #35
Tivemos questões técnicas com o recebimento do nosso último e-mail, por isso nos diga onde você recebeu este o e-mail : na caixa de entrada, spam ou outro local? Sua resposta é muito importante para nós.

_P.S.: Respire fundo, você receberá o próximo e-mail na semana que vem._

[2020-04-17 00:34] tiagobugarin commented on #32
As @vjpixel said, I followed the same logic as him and **got to the same results**, therefore I hope that the change to MailChip will do the trick and workaround the our spam problems.

[2020-04-17 00:44] vjpixel commented on #24
@bruquevedo @tiagobugarin @JoshuSantos

What do you think?

[2020-04-17 00:45] bruquevedo commented on #24
@vjpixel I think we can try

[2020-04-17 01:01] tiagobugarin commented on #31
It is done! A-OK!

[2020-04-17 01:27] vjpixel commented on #31
@tiagobugarin You forgot to close the issue, can you do that?

[2020-04-17 01:42] tiagobugarin commented on #46
After validating the code with the [W3C Validator](https://validator.w3.org/) and verifying the compatibility with [BrowseEmAll - Cross Browser Testing](https://www.browseemall.com/Compatibility/ValidateHTML) I understand the code has good compatibility with modern browsers.

[2020-04-17 01:55] #25 closed

[2020-04-17 02:00] tiagobugarin commented on #24
I think it is an excellent idea.

[2020-04-17 02:00] #24 closed

[2020-04-17 02:00] vjpixel commented on #35
We discussed on #24 and we decided to have Bruna as the sender of the email (using bucoli.co email address).

[2020-04-17 02:16] vjpixel opened #53 "As a staff member, I want user feedback, so I can improve the product"
Every sprint we ask a question to the users to drive our product improvement. The questions can be some information we need or some hypothesis the team wants to test.

We need to define this week's question.

[2020-04-17 02:27] vjpixel commented on #53
The team has a theory says that it's best to send emails on weekdays, so users open the e-mail.on computers.

The only feedback we have from users about when to send the email is on weekends.

I propose we ask the users the best day and time to receive the email.

[2020-04-17 02:39] vjpixel commented on #53
Consider that you need to open our window on a computer and that it’s better to receive the email in a moment you can enjoy the view. What time and day do you prefer to receive our weekly emails?

Considere que você precisa abrir nossa janela em um computador e que é melhor receber o email em um momento que possa apreciar a vista. Que dia e hora você prefere receber nossos emails semanais?

What d

[2020-04-17 02:43] vjpixel commented on #35
I have a new proposal for the email, based on the original text Vanessa created for the picture and on the question I proposed on #53 (please discuss the question in the original issue).

What do you think @bruquevedo @JoshuSantos @tiagobugarin ?

++

_É alto de onde você olha.
A liberdade te empodera.
A vista te encanta.
Quão sólida é a mata,
composta por tantas árvores?
Tão sólida quanto as nuve

[2020-04-17 02:55] tiagobugarin commented on #46
To facilitate de review i will make a little tutorial on how to get the code from the site and apply it to validators and compatibility testers.

Remember:
1. At this point we have two pages to test: the main page and the about page. Remember to analyze both pages at both online testers.
2. The testing was made with the `alpha.bucoli.co` version of the site.

It will be made in 2 parts: getting th

[2020-04-17 02:56] tiagobugarin commented on #46
@vjpixel , would you review it please?

[2020-04-17 03:07] #31 closed

[2020-04-17 14:41] bruquevedo commented on #53
@vjpixel I considerer that it's a good question to our testers because sending the e-mails in the better day and hour can improve the views and feedbacks

[2020-04-17 14:46] bruquevedo commented on #35
@vjpixel @JoshuSantos and @tiagobugarin In my opinion, this is the path to the texts on bucoli.co. It delivers an experience, as well as the image. It brings curiosity about what the image will be and this can help to increase the number of visits to the site. This type of text converges with the idea of ​​creating a community for bucolico, where people will feel welcomed and remain for the positi

[2020-04-17 14:53] bruquevedo commented on #35
@vjpixel @JoshuSantos @tiagobugarin I'm responsible to give the testers a feedback, as you can see in the issue #40 . Because of it, we discussed in the issue #24 about testing send the next bucoli.co e-mail with my sign in the end. But, with this new proposal for the text of the next e-mail that @vjpixel brought to us I think that bucoli.co should sign the e-mail. And in my opinion there's no pro

[2020-04-17 14:59] vjpixel commented on #35
ok

[2020-04-17 17:04] tiagobugarin commented on #35
I only now read the newest text proposal while listening to Pink Floyd's Us and Them and switching back and forth from the text to the `bucoli.co` site and it was amazing!!!!!

[2020-04-17 17:12] tiagobugarin commented on #53
I liked the way you phrased the question without a bias toward any conclusion. I mean, without using words like "weekdays" or "weekends" or "morning" or "noon" you avoided inducing the response and let the readers mind to really think about what they want or how they prefer to be contacted by bucoli.co.

[2020-04-17 20:10] bruquevedo commented on #37
@vjpixel, @JoshuSantos and @tiagobugarin I sent the e-mail, please check and answer it

[2020-04-17 20:16] dotcontentstudio commented on #35
Pixel, I think this final proposal is great!

[2020-04-17 20:55] tiagobugarin commented on #37
On it.

[2020-04-18 13:39] #35 closed

[2020-04-18 13:48] vjpixel commented on #46
This is a great tutorial!

I followed the steps and I confirm everything is working great!

W3C Validator gave some recommendations. Maybe you want to follow them.

Both websites accept URL inputs. Why do you prefer the Copy>Paste way to check the code?

[2020-04-18 13:50] #34 closed

[2020-04-18 13:50] #53 closed

[2020-04-18 15:07] bruquevedo commented on #37
@JoshuSantos e @vjpixel @tiagobugarin and I worked in some improvements to the e-mail and sent it again to all our staff. Please check and answer where did you find the e-mail and if the link is working

[2020-04-18 15:13] vjpixel commented on #37
The email is in my inbox!

Qhen I click the bucoli.co link, I get this message:

![Screenshot from 2020-04-18 12-11-38](https://user-images.githubusercontent.com/1034796/79641442-faf4ff80-816d-11ea-934c-1a26bcad1ba7.png)

[2020-04-18 15:13] JoshuSantos commented on #37
@bruquevedo , I received the email in my Inbox and the link worked just fine. 👍

[2020-04-18 15:27] tiagobugarin commented on #37
email in the inbox and link was fine.
no idea why @vjpixel got that message. will have a look soon.

but heeeey, we have a different problem! this is good in my book. we moved  forward!!

[2020-04-18 15:38] tiagobugarin commented on #37
This post suggests it may be the image.

https://dev.to/karllhughes/debugging-gmail-s-suspicious-link-warnings-45ia

[2020-04-18 15:39] bruquevedo commented on #37
I received the e-mail in the inbox and the link is working perfectly.
As @tiagobugarin said we moved forward and that's good! New problems, new challenges

[2020-04-18 15:40] bruquevedo commented on #37
ok, so I think we can take the image link off. What do you think?

[2020-04-18 15:43] tiagobugarin commented on #37
@vjpixel i will send you only a test version just without the image link. so you can test.

[2020-04-18 15:54] tiagobugarin commented on #46
i don't know... habits, i guess... old ones dies hard! :)

[2020-04-18 15:55] vjpixel commented on #37
Now warnings! Go, tiger!

[2020-04-18 16:07] bruquevedo commented on #32
As @vjpixel said, we decided to test the use of mailchimp to see if this tool would be more effective in avoiding the spam box.
In the first test sent to our team we had the same problem as before, the email went straight to spam. I marked the email as non-spam, resampled it just for me, and received the email again in the spam box.
From there, I went on to research how to solve the problem.
I fou

[2020-04-18 16:10] bruquevedo commented on #37
To understand how we avoid the spam box this time you can check the issue #32

[2020-04-18 16:11] bruquevedo commented on #37
@tiagobugarin could you please close this issue?

[2020-04-18 16:12] bruquevedo commented on #32
@tiagobugarin could you please review the issue?

[2020-04-18 16:54] #46 closed

[2020-04-18 17:47] #37 closed

[2020-04-18 17:50] tiagobugarin commented on #32
Everything looks right and sounds good.

[2020-04-18 17:50] #32 closed

[2020-04-20 21:05] vjpixel commented on #43
Do you have any update about this?

@tiagobugarin @JoshuSantos

[2020-04-20 21:06] vjpixel commented on #38
Since @bruquevedo sent the final email, I'm transferring this task to her.

[2020-04-20 21:16] bruquevedo commented on #39
hey @JoshuSantos @vjpixel once we have the information about the second e-mail sent to our testers I suggest three questions to be made:

1. If the e-mail wasn't opened: Did you received it?
2. If the e-mail was opened but the person didn't access the link: Why didn't you access the link to visit bucoli.co?
3. If the person accessed the link but didn't give feedback: Why didn't you answer the ques

[2020-04-20 23:13] vjpixel commented on #26
Outdated, so I'll close it

[2020-04-20 23:13] #26 closed

[2020-04-20 23:20] vjpixel opened #54 "As a user, I want a way to propose ideas, so I can contribute to the project"
_Deadline: Fri 18:00_

Today, the way we listen to the users is by email answering. Having a system will automatize the process of collecting feedback. We already did tests before with UserSurvey, and it seems to fulfill our needs.

We will implement UserSurvey feedback this week.

[2020-04-20 23:32] vjpixel commented on #39
Ok. I'm waiting for @JoshuSantos to tell me who I need to contact and I'll ask these questions.

[2020-04-20 23:59] bruquevedo commented on #38
@tiagobugarin can you review and close the issue please?

[2020-04-21 12:49] JoshuSantos commented on #39
Hello people.
I organized the MailChimp entries and out of 25 people, only 2 did not open the email.

@vjpixel please check with isabelj@gmail.com why she did not open it.
@vanessa please check with rodrigoalmeida021@gmail.com why he did not open it.

You can follow those questions:

1. If the e-mail wasn't opened: Did you received it?
2. If the e-mail was opened but the person didn't access the l

[2020-04-21 12:52] JoshuSantos commented on #43
@tiagobugarin , @bruquevedo can you review (or comment) on those suggestions that I put here:

https://github.com/memeLab/bucoli.co/issues/27#issuecomment-611721270

[2020-04-21 12:58] vjpixel commented on #39
Hey @JoshuSantos,

You just told to whom we need to ask question 1. To whom we need to ask questions 2 and 3?

Also, I propose we ask a new question for everyone that opened: Did you open in a mobile or desktop device?

Also, Vanessa is not on bucoli.co's Github yet. @vanessa is not a user, so she won't receive your message.

[2020-04-21 13:11] vjpixel commented on #39
@JoshuSantos Also, you put personal user information in your comment. Since this space is open, we can't do that. I edited your comment to remove them.

[2020-04-21 20:13] JoshuSantos commented on #41
@bruquevedo , you are organizing the feedbacks sent to bucolico@memelab.com.br, right?

How can I get the data regarding who answered the questions on the email and who didn't?

[2020-04-21 20:16] bruquevedo commented on #41
hey @JoshuSantos I just put the word ANSWERED together with OPENED and CLICKED in the BUCOLICO MAIL/TEST spreadsheet

[2020-04-21 20:40] bruquevedo commented on #43
@JoshuSantos the day you sent that suggestions me and @tiagobugarin discussed almost all of then.
I'm going to talk about my points based in this conversation.

1- I think that we don't need the border but we need to find the correct size and color of the SOBRE button (or any other button). Based in two feedbacks users like to have the image in all the screen and one of then proposed a full screen

[2020-04-21 20:44] bruquevedo commented on #41
@JoshuSantos but for example, the feedbacks you sent me didn't answer the specific question we asked in the e-mail sent on april 18th and they didn't answered the email so I do know if I fill their names with ANSWERED or not

[2020-04-21 22:08] bruquevedo commented on #41
@vjpixel could you please review this issue?

[2020-04-21 22:09] bruquevedo commented on #40
@vjpixel could you please review this issue?

[2020-04-21 22:12] #40 closed

[2020-04-21 22:13] #38 closed

[2020-04-21 22:13] #41 closed

[2020-04-22 00:20] vjpixel commented on #43
We agreed to close this unfinished issue. We'll create a new one on the next sprint.

[2020-04-22 00:20] #43 closed

[2020-04-23 13:01] vjpixel commented on #42
@bruquevedo please remember that the task needs to be approved before you send the image to the developer.

[2020-04-23 15:15] bruquevedo commented on #42
@vjpixel ok

[2020-04-23 16:06] vjpixel commented on #33
We also need to send the second email.

[2020-04-23 16:07] vjpixel commented on #33
To make this possible, we need an archive of the old pictures, with permalinks. Do you think this is possible, @tiagobugarin ?

[2020-04-23 16:08] vjpixel commented on #33
Since this task is related to the first and second emails we send, I'll put the proper milestones.

[2020-04-23 16:24] vjpixel opened #55 "As a staff member, I want organized tasks on GitHub, so I can better collaborate"
_Deadline: Tue 18:00_

We're always adjusting our way to communicate. As a goal-driven team, our main tool of communication is GitHub.

We need to have the sprint tasks created and organized on GitHub.

[2020-04-23 16:25] vjpixel opened #56 "As a user, I want to have a new photo, so I feel engaged with bucoli.co"
_0.0.5 Deadline: Wed 16:00_

_0.0.6 Deadline: Thu 18:00_

The users say they want always changing pictures, but we know that today we can only deliver one new per week.

We need to choose a new picture.

[2020-04-23 16:31] vjpixel opened #57 "As a user, I want an onboarding, so that I can experience the context of the photo"
_Deadline: Thu 11:00_

We believe that delivering a photo isn't enough for people to understand the bucoli.co's proposal.

We want to design and write an email related to the picture, so the people can feel immersed in the picture's context.

[2020-04-23 16:33] vjpixel opened #58 "As a user, I want to get curious about the picture, so I get motivated to see it"
_0.0.5 Deadline: Thu 11:00_

_0.0.6 Deadline: Fri 18:00_

The team believes that having the new picture on the email will make users engaged in visiting bucoli.co.

We want to have a personalized logo with the new picture.

[2020-04-23 16:38] vjpixel opened #59 "As a user, I want a beautiful website, so I feel pleasured with bucoli.co"
Since we're will keep including new features, and it's an image-focused website, it's important to have it well designed and pleasant.

@bruquevedo is going to share the proposal in the comments. _Deadline: Thu 12:00_

@tiagobugarin will implement it. _Deadline: Fri 12:00_

We want to improve the design of About page.

[2020-04-23 16:43] vjpixel opened #60 "As a user, I want a flawless website so that I can enjoy a great experience"
_Deadline: Thu 20:00_

Since we have users that use different web browsers, we want to have the website compatible with web browsers with more market share. Also, we want to make sure that our code is valid on W3C.

This task needs to be done after all implementations are sent to review.

We need to update the website to be compatible with Google Chrome, Mozilla Firefox, Apple Safari, and Microsof

[2020-04-23 16:45] vjpixel opened #61 "As a staff member, I want to be sure that the email is ready, so I know we can send the final version"
_0.0.4 Deadline: Tue 10:00_

_0.0.5 Deadline: Thu 16:00_

_Revision protocol deadline: Fri 12:00_

Test with different people if the email is arriving and looking/working as it should.

1. We need to send a test email to the team so everyone can review it before we send the final version.

2. We want to improve this issue including a revision protocol.

[2020-04-23 16:45] bruquevedo commented on #56
My suggestion to the next image is this one:

![BUCOLICO_04](https://user-images.githubusercontent.com/63117285/80125909-b354e600-8568-11ea-945b-95c7d1e4c288.jpg)

what do you think @vjpixel @JoshuSantos and @tiagobugarin ?

[2020-04-23 16:49] vjpixel opened #62 "As a user, I want to know that I can see a new photo so that I can have a unique experience on the website"
_0.0.4 Deadline: Wed 9:00_

_0.0.5 Deadline: Mon 9:00_

The great moment! Tell the users that we have a new image.

We need to send the final email to the users.

[2020-04-23 16:52] vjpixel opened #63 "As a staff member, I want to understand the users' experiences so that I can improve them"
_Deadline: Mon 11:00_

For the first email, we sent, only 28% of the users received the first email. 64% of the emails either went to the spam box or wasn't delivered.

We still don't have the data for the second email.

We need to understand the users' experiences.

[2020-04-23 16:55] vjpixel opened #64 "As a user, I want to receive a response to the feedback I sent, so I feel engaged in sending more feedback"
_Deadline: Mon 12:00_

Answering users' feedback is both a way to tell them we're interested in their response and a way to keep them engaged.

We need to respond to feedback we receive.

[2020-04-23 16:57] vjpixel commented on #39
@JoshuSantos do you need help on this task? When do you think we'll have this data?

[2020-04-23 17:02] vjpixel opened #65 "As a staff member, I want to have feedback organized, so I can quickly analyze it"
_Deadline: Tue 18:00_

Having a document organizing all the feedback help the team to easily find and analyze the feedback.

Also, the document has insights from the feedbacks that help us to define what to do next.

We need to organize the feedbacks in the document.

Also, we need to update the User Journey document including who answered the email.

[2020-04-23 17:05] vjpixel opened #66 "As a user, I want an improved experience so I want to visit bucoli.co more times"
The user feedback is showing us what problems do we have, but also how we can make bucoli.co more attractive.

We need to act based on this feedback and decide what to improve this week.

[2020-04-23 17:09] vjpixel opened #67 "As a staff member, I need to have a lean canvas, so I can align my understanding of bucoli.co"
We agreed on everyone creating a lean canvas, and then we meet and create a final version.

@vjpixel will send a link with an explanation of how to create one.

We need to have a finished lean canvas.

[2020-04-23 17:14] vjpixel opened #68 "As a staff member, I want to have a roadmap so I can improve my understanding of the future of bucoli.co"
_Deadline: Mon 12:00_

A roadmap is a strategic plan that defines a goal or desired outcome and includes the major steps or milestones needed to reach it. It also serves as a communication tool, a high-level document that helps articulate strategic thinking—the why—behind both the goal and the plan for getting there.

We need a roadmap to align the next steps of bucoli.co.

[2020-04-23 17:17] vjpixel commented on #54
I just updated the description of this issue.

[2020-04-23 17:18] vjpixel commented on #48
I just update this issue's description.

[2020-04-23 17:21] vjpixel commented on #14
I just updated this issue's desciption.

[2020-04-23 17:21] vjpixel commented on #14
Since we're already discussing things that we want the users to have easy access, I propose we add a menu button, like the one in the picture.

![Screenshot from 2020-04-06 10-30-24](https://user-images.githubusercontent.com/1034796/78570494-71534280-77fb-11ea-8c75-c3101cee06d0.png)

[2020-04-23 17:22] vjpixel commented on #59
I propose we add a menu button, like the one in the picture.

![Screenshot from 2020-04-06 10-30-24](https://user-images.githubusercontent.com/1034796/78570494-71534280-77fb-11ea-8c75-c3101cee06d0.png)

[2020-04-23 17:25] bruquevedo commented on #62
Hey @vjpixel @JoshuSantos and @tiagobugarin I analyzed the data from the responses we had in the last email question "What day and time do you prefer to receive our weekly emails?" and most testers prefer to receive the email during the week in the morning, between 8am and 10am. Based on this data, I suggest rethinking the day of sending this week's email

[2020-04-23 17:25] tiagobugarin commented on #56
liked it very much!

[2020-04-23 17:25] vjpixel commented on #6
I just updated the description.

[2020-04-23 17:28] vjpixel commented on #56
I prefer to have a landscape.

[2020-04-23 17:34] tiagobugarin commented on #33
not at this moment. to do this i need to implement a feature to selectively load images according to a url... i can try to implement something in that regard by the next week's sprint

[2020-04-23 17:35] vjpixel commented on #59
This issue wasn't finished the last sprint. We need to pay attention to finish it so we deliver value to the users.

Please treat this as a new issue, including all necessary information here, so we centralize the discussion. @tiagobugarin @JoshuSantos

[2020-04-23 17:36] vjpixel commented on #60
@tiagobugarin how about creating a new version of the tutorial, just using the URLs?

[2020-04-23 17:36] vjpixel commented on #61
@bruquevedo please ask the team to put the feedback here, so everyone can discuss it.

[2020-04-23 17:37] vjpixel commented on #63
My proposal for the questions we should ask:

Você recebeu o email? Para qual caixa ele foi?

Você clicou no link? Se não, o que te impediu? Se sim, foi no telefone ou computador?

Como você acha que podemos aumentar a taxa de resposta das questões que perguntamos?

[2020-04-23 17:39] vjpixel commented on #55
Please review @tiagobugarin

[2020-04-23 19:33] vjpixel commented on #62
How about we send the next one on Monday, at 8 am, and them move (back?) to send every Friday at 9 am?

[2020-04-23 19:36] bruquevedo commented on #62
@vjpixel I agree

[2020-04-23 19:47] bruquevedo commented on #56
@vjpixel @tiagobugarin what about this one?

![0002](https://user-images.githubusercontent.com/63117285/80142788-2159d700-8582-11ea-8914-16913f50f583.jpg)

[2020-04-23 20:48] JoshuSantos commented on #56
I understand the theme of bucolico's site as landscape (mostly), @vjpixel ... on the other hand, I think it creates a nice change of rhythm.

As a side note, @bruquevedo , maybe because of my previous trip to Capão, the closeup photo brought me back the memory of the coldness of the water. It wasn't something that I was expecting. I just felt. Funny, isn't it?

[2020-04-23 20:49] JoshuSantos commented on #56
I like this one also, but the feeling is different ... I am seeing the landscape, I am not inside the river as the previous one.

[2020-04-23 20:51] JoshuSantos commented on #6
@tiagobugarin , the usual solution for this is a WHITE text with a tiny drop shadow. This way ... when we have a dark photo, the whiteness of the text appears... when we have a light photo, the drop shadow helps the text to pop up.

[2020-04-23 21:00] JoshuSantos commented on #59
@vjpixel , this is quite a nice menu icon... very minimalist and common ... GitHub uses it as well.
I can research some others.

My question is:

**Which ITENS will be on the menu?**

"Sobre"
"Galeria"
"Manifesto Bucolico"
"Contato"

Something like that?
According to the answer, we will have to design the specific pages as well.
Some will have photos or a grid of photos, others will have a form.

[2020-04-23 21:05] JoshuSantos commented on #62
@vjpixel Ay, ay.

[2020-04-24 00:06] vjpixel commented on #56
@JoshuSantos please don't remember me about the ice cold water in Chapada Diamantina...

[2020-04-24 00:07] vjpixel commented on #56
@bruquevedo I love this one!!!

[2020-04-24 00:12] vjpixel commented on #59
The items we have now are `Sobre` and `Feedback`. We had both before, but we hide the `Feedback` because we decide to don't use it at that time, so we already have the screen - but maybe it can be customized.

[2020-04-24 09:16] tiagobugarin commented on #56
This photo is very nice and also brings me some memories from places all around Brazil that share some resemblance. Although I liked the first one more, I understand this one is better aligned with bucoli.co's view.

[2020-04-24 09:25] tiagobugarin commented on #59
I don't think it would take us too much time to do this. It may take time to make it pleasant and gorgeous. it's the details!!! :)

Also, there is some room with UserReport's interface for adjustments in style but not so much.

[2020-04-24 09:34] tiagobugarin commented on #62
I may sound crazy and all but... here me out.
As a test to gather data, what if we send every week, starting from the next, on a different day at 8am?
Doing this we would have data points on different days of the week and would really understand how our testers get around their opening and clicking habits.

This would be a 5 week stretch, going from monday to friday and then, with enough data, we

[2020-04-24 09:37] tiagobugarin commented on #60
great idea. streamlines the process and simplifies the use. will give it a go!

[2020-04-24 09:41] tiagobugarin commented on #55
Looks ok!

Closing and moving.

[2020-04-24 09:47] tiagobugarin commented on #6
considering there will only be a menu button at first and, on click, show up the menu items, do you still think the drop shadow approach is valid?
that drop shadow would be leaning on a dark or a light color?

[2020-04-24 10:04] tiagobugarin commented on #54
this one is an easy one. the code is already there just waiting to be enabled back.

[2020-04-24 14:07] bruquevedo commented on #56
@JoshuSantos what you felt was really amazing. And I think that more people can fell that too. And I agree with the change of rhythm.  So here's what I propose, we can use the landscape one this time, because as you guys said it's more bucolico's style but we don't delete the one I sent first and we can use it two or three sprints from here. What do you think? @vjpixel @JoshuSantos @tiagobugarin

[2020-04-24 14:19] bruquevedo commented on #56
@JoshuSantos @tiagobugarin @vjpixel do you agree with this image?

[2020-04-24 16:36] vjpixel opened #69 "As a staff member, I want a model for Sprint Review slides so I can create a presentation easily."
_Deadline: Mon 18:00_

One of the things we agreed to improve last week was the Sprint Review. We decided to create presentations that show (visually) what we've done. We expect that this will add value to the meeting, bringing more information, and will make it more objective.

We need to have a model for the slides.

[2020-04-24 16:47] vjpixel opened #70 "As a staff member, I need to have a lean canvas and a short description so I can align my understanding of bucoli.co."
_Proposed Deadline: Mon 15:00_

The main goal of this Sprint is to align what bucoli.co is. The main tools we decided to use is a lean canvas and a short description (800 characters maximum).

We agreed that each one of us would create a lean canvas alone, and then we align on the meeting.

[2020-04-24 16:53] vjpixel commented on #70
I'll send the model and instructions on how to fill it today by the end of the day.

I propose to have the meeting on Monday between 15:00 and 15:50. Also, to improve the chances we finish on time and in respect of the time of who prepared the canvas, I propose that only who finish the canvas attend to the meeting.

@bruquevedo @JoshuSantos @tiagobugarin

[2020-04-24 16:58] vjpixel commented on #63
This task is related to the 0.0.3 milestone, so it only can start after the week's email was sent. I think you misunderstood this one with #39, that is due.

I propose to move it back to the backlog.

[2020-04-24 18:26] tiagobugarin commented on #56
from me, this is the one for this week!

[2020-04-24 18:29] tiagobugarin commented on #70
monday, between 15hs and 15h30 is fine for me.

[2020-04-24 18:58] tiagobugarin commented on #60
This new version of the tutorial has a few less steps and got a lot less technical in the process making it easy to follow by any one interested. :)

To facilitate de review this little tutorial will you through validators and compatibility tests.

Remember:
1. At this point we have two pages to test: the main page and the about page. Remember to analyze both pages at both online testers.
2. The t

[2020-04-24 19:00] vjpixel commented on #62
I think that this makes sense, but the first step is to know how to do this test in a scientific way. To make it sounds like a Sequential A/B Testing, but I'm not sure.

Studying how to do it and make a proposal, @tiagobugarin ?

[2020-04-24 19:01] vjpixel commented on #56
Yes!

[2020-04-24 19:02] vjpixel commented on #70
Sorry, I wasn't clear. I'm proposing the meeting to happen from 15:00 to 15:50.

[2020-04-24 19:29] bruquevedo commented on #70
it's ok for me

[2020-04-24 21:02] bruquevedo commented on #56
Ok so this is the image of the week

[2020-04-24 21:03] bruquevedo commented on #57
The picture chosen for this week is in the issue #56

[2020-04-24 21:15] bruquevedo commented on #56
@vjpixel could you please review this issue?

[2020-04-24 21:19] bruquevedo commented on #58
![TOPO-BUCOLICO-03](https://user-images.githubusercontent.com/63117285/80257646-c692af00-8657-11ea-8818-1d2ed73a9193.jpg)

this is this week's custom logo

[2020-04-24 21:21] bruquevedo commented on #58
@vjpixel could you please review this issue?

[2020-04-24 21:24] vjpixel commented on #58
I love that the part chose makes me feel I'm going to see a waterfall, but then I see a river.

[2020-04-24 21:52] vjpixel commented on #57
Since we need to finish work today, so we just focus on internal feedback on the weekend, I'm transferring this task to @bruquevedo .

[2020-04-24 23:28] bruquevedo commented on #57
O céu azul pinta a paisagem
e o sol ilumina o caminho.
A natureza te convida a desacelerar
explorar, pensar livremente.
Respire fundo, devagar, sem pressa
sinta que chegou onde queria
e seja livre para permanecer
A liberdade te torna dono do seu próprio tempo.
Brisa, barulho de folhas, passarinhos
a água que corre, mansa, seguindo seu rumo
De mais um passo e descubra
que o rio gelado te faz sentir

[2020-04-24 23:40] vjpixel commented on #57
It's great!

Since we're going to add a menu, there's one more step that we need to add in this paragraph.

Also, it missing some punctuation at the end of some sentences.

[2020-04-24 23:44] bruquevedo commented on #57
O céu azul pinta a paisagem
e o sol ilumina o caminho.
A natureza te convida a desacelerar
explorar, pensar livremente.
Respire fundo, devagar, sem pressa
sinta que chegou onde queria
e seja livre para permanecer
A liberdade te torna dono do seu próprio tempo.
Brisa, barulho de folhas, passarinhos
a água que corre, mansa, seguindo seu rumo
De mais um passo e descubra
que o rio gelado te faz sentir

[2020-04-24 23:45] bruquevedo commented on #57
O céu azul pinta a paisagem
e o sol ilumina o caminho.
A natureza te convida a desacelerar
explorar, pensar livremente.
Respire fundo, devagar, sem pressa
sinta que chegou onde queria
e seja livre para permanecer
A liberdade te torna dono do seu próprio tempo.
Brisa, barulho de folhas, passarinhos
a água que corre, mansa, seguindo seu rumo
De mais um passo e descubra
que o rio gelado te faz sentir

[2020-04-24 23:48] vjpixel commented on #67
I just shared the explanation on Slack. Can you please confirm, @tiagobugarin ?

[2020-04-24 23:51] bruquevedo commented on #57
@tiagobugarin could you please review it?

[2020-04-25 00:02] tiagobugarin commented on #57
It's great! closing and moving.

[2020-04-25 00:05] tiagobugarin commented on #54
@vjpixel it is already at the alpha.bucoli.co. would you please review it?

[2020-04-25 00:29] bruquevedo commented on #61
hey @vjpixel @JoshuSantos and @tiagobugarin I just sent the e-mail test. As soon as possible please give your feedback here. Tks :)

[2020-04-25 00:31] bruquevedo commented on #61
I received the e-mail in the inbox. Link is working and everthing is ok to me

[2020-04-25 00:42] tiagobugarin commented on #61
The email reached the inbox and the link worked.
Now I am working on making the menu button so the text can mean what it says! :)

[2020-04-25 00:50] vjpixel commented on #61
There are two things I noticed, both in this paragraph.

1. There's a bucoli.co (not tracked) link on it. I propose to rewrite the phrase so we don't have a system turning bucoli.co to a link.

2. Reading the paragraph in the email, I noticed it can be more strong when asking for the people to include feedback. I propose to rewrite it asking directly people to write feedback - and tell them what w

[2020-04-25 00:55] vjpixel commented on #54
I tested and it's working as supposed to do.

[2020-04-25 00:55] #54 closed

[2020-04-25 01:02] bruquevedo commented on #57
Reopened the issue after pixel's comment in issue #61

Now, my suggestion to the text:
Temos novidades: adicionamos uma ferramenta de feedback diretamente no site.
Deixe seu comentário por lá clicando no menu, no canto inferior direito da tela, e depois em feedback. Você também pode comentar e votar na sugestão de outras pessoas. Dessa forma, iremos avaliar todas as sugestões e comentários para de

[2020-04-25 01:04] bruquevedo commented on #61
I reopened issue #57 and commented there my new suggestion to your observation

[2020-04-25 01:09] vjpixel commented on #57
Great!

[2020-04-25 01:12] tiagobugarin commented on #67
i confirm the lean canvas instructions has been shared with the team. closing and moving.

[2020-04-25 01:12] #67 closed

[2020-04-25 01:24] tiagobugarin commented on #57
uma sugestão

Você também pode colaborar comentando e votando em outras sugestões. Tudo será considerado enquanto decidimos quais mudanças implementar no bucoli.co para melhorar sua experiência.

[2020-04-25 11:14] tiagobugarin commented on #14
the first implementation of the menu and its behavior is done. check it out at `alpha.bucoli.co`!!
i think there is room for improvements and will give some more attention in the next sprint.

[2020-04-25 11:19] tiagobugarin commented on #48
within this week sprint the code got a lot longer with the addition of the menu and its behavior.
none the less, the code got a bit more cleaner than before.

[2020-04-25 11:23] tiagobugarin commented on #59
the menu is done.
its aesthetics and behavior is nice but imo it still needs some refinements.
the animation may still be too fast at some places and too slow at others. the colors may get a little shift, some more tint, some less...

or we can move to another direction completely... let me know @JoshuSantos @vjpixel @bruquevedo your opinions about the aesthetics and behavior.

[2020-04-25 11:35] tiagobugarin commented on #60
The code is good for this week sprint.
Although, at the W3C Validator, for the home page, there is a warning about a `section` lacking  a `heading` it is not a major problem here as the `section` element is not being used for its original intent (separate information in sections) but to encapsulate the menu structure.
Will change this structure for the next sprint to avoid this warning.

[2020-04-25 13:20] tiagobugarin commented on #62
Since we just have a couple dozen testers i dont think an A/B testing would work, thus a suggested doing it with the whole lot every week, so all the data we can get is as close to meaningful as possible.
Keeping it as objective as possible we can compare the data from different days and have an idea of what to expect about opening and clicking.

[2020-04-25 13:22] tiagobugarin commented on #70
it is still fine for me.

[2020-04-25 13:29] tiagobugarin commented on #61
the problem here is that it was not made in to a link from within the MailChimp system, then it goes out as a normal text and then the mail client interprets it as a link.
my proposal is to make the `bucolli.co`  text into a link so that it will be trackable after leaving the MailChimp system.

always remember that `bucoli.co` as a name is a link reference and like all links it will be looked upon

[2020-04-25 14:48] JoshuSantos commented on #61
PROs:
1. The email was in my Inbox and the link took me to bucoli.co

CONs:
1. The image on the header of the email is the NEW image. The image on the site is from last week.
2. I did not see the feedback menu/button in order to test and use it.

[2020-04-25 15:51] vjpixel commented on #14
People can't do feedback from the About page.

I propose we put the menu there (changing the link from Sobre to Home). This way, we can also get rid of the back button from the text.

[2020-04-25 15:53] vjpixel commented on #59
This menu seems to not work with bright images.

[2020-04-25 16:01] vjpixel commented on #62
From what you said above, I understand that now we don't have enough users to do the test you're proposing right now. So our first question is: how much data is enough to have a meaningful answer to a sequential test? There a lot of other questions we need to answer to make a meaningful test.

I think we can study so we can know how many people we need to have meaningful data. Can you send me a li

[2020-04-25 16:05] vjpixel commented on #61
@JoshuSantos

Since we're testing the final email, there's no way to point it to the alpha version. Pretend the link you're receiving is `alpha.bucoli.co`, and both the cons you listed are gone.

[2020-04-25 16:19] tiagobugarin commented on #14
hmmmm nice idea!

[2020-04-25 16:33] vjpixel opened #71 "As a staff member, I want to know the best day and time to send emails so that most people open them."
By the information we've got with the testers, the best day to send the emails is Friday at 9:00.

@tiagobugarin proposed we try to improve this answer with data. We need to align a strategy to do that.

Since we need to learn and design a strategy, and this can take some effort, I'm not including this issue in the backlog yet.

[2020-04-25 16:35] vjpixel commented on #62
Since this discussion is not related to the issue, I created #71 no we can discuss there.

[2020-04-25 16:37] vjpixel commented on #71
To me, it seems that what we need to do to get this information is a sequential A/B test.

I'm sharing a reference so we can think if that's the methodology we're going to follow: https://splitmetrics.com/blog/sequential-a-b-testing/

[2020-04-25 16:37] bruquevedo commented on #59
@tiagobugarin the menu button is technically working and I and I liked the rounded design, but I think that it needs more opacity or some kind of shadow because it's hard to see it

[2020-04-25 16:51] bruquevedo commented on #61
I received feedback from everybody and already changed what you suggested. So we can consider that the email is ready to be sent to testers on monday 8am

[2020-04-25 16:54] bruquevedo commented on #61
@vjpixel could you please review this issue?

[2020-04-25 17:34] vjpixel commented on #61
Can you please send it again so I can review the new version? @bruquevedo

[2020-04-25 17:35] bruquevedo commented on #61
ok

[2020-04-25 17:45] bruquevedo commented on #61
I received the email in the inbox and everthing is ok

[2020-04-25 17:58] tiagobugarin commented on #61
inbox and link tracked working as it should.

[2020-04-25 18:08] tiagobugarin commented on #14
@vjpixel, suggestion implemented. get a look at `alpha.bucoli.co/about.htm`

[2020-04-25 18:19] vjpixel commented on #14
Great!

[2020-04-25 18:19] #14 closed

[2020-04-25 18:22] tiagobugarin commented on #59
i thought long and hard about this over night and got entangled between not disturbing the picture experience and being noticeable. went down the picture way... may be the sleepness got to my senses and went too far.

@bruquevedo, give another try now and tell me what you think

[2020-04-25 18:29] bruquevedo commented on #61
@vjpixel could you please review the issu?

[2020-04-25 18:36] bruquevedo commented on #59
@tiagobugarin for me it's good. It's not disturbing the image and once you take a look in all of it you can find the menu. Plus in the email I gave the path to where it is.

[2020-04-25 21:21] tiagobugarin commented on #59
So, @bruquevedo, would you please review this issue?

[2020-04-25 21:21] tiagobugarin commented on #60
So, @vjpixel, would you please review this issue?

[2020-04-25 21:22] tiagobugarin commented on #6
So, @JoshuSantos, would you please review this issue?

[2020-04-25 21:41] vjpixel commented on #6
I just tested on mobile,  l and it's hard tip see the menu.

On Sat, 25 Apr 2020, 18:22 tiagobugarin, <notifications@github.com> wrote:

[2020-04-25 21:44] vjpixel commented on #6
Same problem on the about page.

Also, the photo doesn't fit the screen, leaving a black border.

On Sat, 25 Apr 2020, 18:40 Angelo Pixel, <pixel@memelab.com.br> wrote:

[2020-04-25 21:55] vjpixel commented on #6
I answered by email and the photos weren't attached, so I'm attaching them now.

![Screenshot_20200425-183850_Firefox](https://user-images.githubusercontent.com/1034796/80291696-37080180-8726-11ea-8a93-99423d15268d.jpg)

![Screenshot_20200425-184222_Firefox](https://user-images.githubusercontent.com/1034796/80291697-38392e80-8726-11ea-8c2c-0a7cf3891db8.jpg)

[2020-04-25 21:58] vjpixel commented on #60
I've got the following errors/warnings in the About page.

`    Error: Duplicate ID about.

    From line 30, column 5; to line 30, column 35

    k</a>↩    <a id="about" href="index.htm">início

    Warning: The first occurrence of ID about was here.

    From line 1, column 16; to line 2, column 30

    TYPE html>↩<html lang="pt-br" id="about">↩<head

    Warning: Section lacks heading. Consider

[2020-04-26 20:59] bruquevedo commented on #59
for this sprint I think that everthing is great :)

[2020-04-26 22:37] tiagobugarin commented on #60
fixed that

[2020-04-26 23:19] tiagobugarin commented on #6
think it is fixed now...

[2020-04-26 23:27] tiagobugarin commented on #6
@bruquevedo or @vjpixel , would one of you please review?

[2020-04-26 23:30] tiagobugarin commented on #60
@vjpixel can you go for a second round of review?

[2020-04-27 13:26] vjpixel commented on #60
I review and it's ok!

[2020-04-27 13:28] vjpixel commented on #6
It's good enough for this sprint, but I propose we improve it in the next.

[2020-04-27 13:28] #6 closed

[2020-04-28 21:06] bruquevedo commented on #65
once we implemented the feedback tool as you can see in the issue #54 we don't need to organize the feedback in a spreadsheet anymore

[2020-04-28 21:06] bruquevedo commented on #65
@vjpixel could you please review this issue?

[2020-04-28 21:13] vjpixel commented on #65
I just marked it as invalid.

[2020-04-28 21:13] #65 closed

[2020-04-28 21:24] vjpixel commented on #69
@tiagobugarin @bruquevedo

[2020-04-28 21:26] bruquevedo commented on #62
the e-mail was sent. @tiagobugarin could you please review this issue?

[2020-04-28 21:28] vjpixel commented on #69
I'm proposing this way because it's simple (we an do it very fast) and I think it's as effective as creating slides.

[2020-04-28 21:29] bruquevedo commented on #69
ok I agree

[2020-04-28 22:35] tiagobugarin commented on #69
fine by me too

[2020-04-28 23:08] #69 closed

[2020-04-28 23:14] tiagobugarin commented on #62
i can confirm!

[2020-04-29 13:17] vjpixel commented on #63
We're going to go back to this when we have a new testers base.

[2020-04-29 13:18] #39 closed

[2020-04-29 17:06] vjpixel opened #72 "As a user, I want to see a 360° photo so I can feel immersed."
We don't deliver an experience that's worth on mobile. Allowing users to move the smartphone and see 360° pictures can be a way to make the users feel more immersed.

@vjpixel is responsible for finding sample code and picture. _Deadline: Wed 20:00_

@tiagobugarin is responsible for implementing the code. _Deadline: Wed 12:00_

Create a 360° prototype.

[2020-04-29 17:38] vjpixel opened #73 "As a user, I want to have a subscription form so I can receive an email when there's a new photo."
_Deadline: Thu 12:00_

Since we're aiming to increase the number of subscribers, having a subscription form will automatize the process. It will make it simpler for both users and the staff.

We need to include a subscription form.

[2020-04-29 17:56] vjpixel opened #74 "As a staff member, I want to have the same vocabulary as the team so we can have more efficient communication."
_Deadline: Thu 20:00_

We have a constant effort to align our vocabulary terminology in order to have clear communication.

This is a recurring task that'll be in every sprint where it's needed, with different vocabulary.

We need to have a common understanding of software versioning.

[2020-04-29 18:01] vjpixel opened #75 "As a user, I want an updated About text so I can better understand bucoli.co."
_Deadline: Thu 20:00_

The text we have now is long and the information about the update schedule is outdated.

We need a new version of the text.

[2020-04-29 18:01] vjpixel commented on #75
@bruquevedo @tiagobugarin, can you please share here the texts you written?

[2020-04-29 18:06] vjpixel opened #76 "As a old staff member, I want my user removed, so I don't receive messages that don't interest me."
_Deadline: Thu 20:00_

Since Joshu and Vanessa left the team, we need to check with them if they want to keep the users/accesses in GitHub, Slack, and Drive.

We need to ask them what accesses they want to keep and remove the ones they don't.

[2020-04-29 18:07] vjpixel commented on #76
@tiagobugarin do you remember any other system else they have users for bucoli.co?

[2020-04-29 18:17] vjpixel commented on #60
@tiagobugarin I updated this task description.

[2020-04-29 18:18] vjpixel commented on #60
Also, I reviewed the tutorial and included it in the task description, so it's easier to find.

[2020-04-29 18:22] vjpixel opened #77 "As a pixel, I want to have my emails delivered to people's inbox so they can read my emails."
_Deadline: Wed 20:00_

Since a bucoli.co email was sent with pixel's email address; people have been receiving his emails on the spam box.

We want to fix that so that the poor guy can communicate with people.

[2020-04-29 18:23] vjpixel commented on #77
I suppose removing SendPulse DNS entries on memelab.com.br will fix that.

[2020-04-29 18:30] vjpixel opened #78 "As a user, I don't want to be a tester, so that I don't get annoyed by the staff reaching to me."
_Deadline: Fri 16:00_

We know that most of the Testers are not engaged, so we decided to turn them into Community and create a new Testers' group later.

With this change, some Testers that had their accounts disabled can have them enabled again.

We need to rename the testers' database and reenable the tester's accounts that were disabled.

[2020-04-29 18:45] vjpixel opened #79 "As an earthling, I want to know that bucoli.co exists so I can access the website and subscribe."
_Deadline: Sat 23:00_

We agreed that it's time to grow our community. We consider that the best way to do this is by creating sample posts in Portuguese so the team can publish them.

We want the posts to be light in tone. Since the Subscribe button will be in the menu, would be good to have a statement saying something like "O bucoli.co tem uma interface limpa, sem popups ou notificações. Se voc

[2020-04-29 19:02] vjpixel commented on #55
I updated the planning document: https://docs.google.com/document/d/1BLhg8CrgLVYTBMjy91jsvy48tm7BpBFGRgGyMU---Gs/edit

[2020-04-29 19:29] vjpixel opened #80 "As a sysadmin, I want CI/CD so I can deliver value more easily and faster."
_Deadline: Sat 11:00_

We want to have a Continuous Integration / Continuous Deployment stream in the development environment so that we can automatize the process of updating `alpha.bucoli.co`.

We want to have a CI/CD.

[2020-04-29 19:32] vjpixel opened #81 "As a user, I want to have an updated website, so I can see the new picture."
_0.0.4 Deadline: Tue 10:00_

_0.0.5 Deadline: Sun 20:00_

We discussed that a deployment issue/task is important to mark the end of the development process.

We need to merge the branch Alpha to Master, and deploy Master.

[2020-04-29 19:37] vjpixel opened #82 "As a staff member, I want a proposal for a forum so I can decide if I want it implemented."
_Deadline: Sat 19:00_

We discussed this enhancement without really understanding it. Seeing a proposal can give us more information to consider if we want it.

We need a proposal for a forum.

[2020-04-29 19:51] vjpixel opened #83 "As a user, I want to know what's behind bucoli.co so I can learn."
_Deadline: Mon 12:00_

Publishing LinkedIn articles is both a way to document our trajectory and a way to increase interest in bucoli.co.

We want to have a making-of article published.

[2020-04-29 19:54] vjpixel commented on #64
I just updated the description and the deadline.

[2020-04-29 20:14] vjpixel commented on #55
Model for reminders:

/remind #bucolico "Tasks with deadlines today for @Tiago #73 #72, for @vjpixel #74 #75 #76, for @Bruna Quevedo #56 # 59 #57 #58" Thu 9:00

[2020-04-29 20:21] vjpixel commented on #55
@tiagobugarin, I just added all tasks on GitHub, created daily reminders on Slack, and created meetings on Calendar. Can you please review?

[2020-04-29 20:30] vjpixel commented on #77
@bruquevedo @tiagobugarin

I just sent you a "ping" email and a "answer ping" meeting schedule.

Can you please confirm if they went to your inox or spam?

[2020-04-29 20:39] vjpixel commented on #72
@tiagobugarin

Please check this tutorial: https://developers.google.com/vr/develop/web/vrview-web

[2020-04-29 20:41] vjpixel commented on #72
Link for a 360° photo we can use: https://photos.app.goo.gl/yoktesqc2eJh7tNt8

[2020-04-30 13:00] vjpixel commented on #76
I'm waiting for an answer from @JoshuSantos

[2020-04-30 14:09] bruquevedo commented on #56
hey @tiagobugarin @vjpixel my suggestion to the image of the week is this one:

![BUCOLICO_04_v2](https://user-images.githubusercontent.com/63117285/80720118-d9333b00-8ad2-11ea-9bc5-96d065facc08.jpg)

[2020-04-30 14:12] vjpixel commented on #56
I love it!

[2020-04-30 14:27] bruquevedo commented on #75
O bucoli.co é um projeto que cria uma experiência que te convida e desacelerar.
A proposta é que você acesse o site e veja uma bela imagem de paisagem. Não há inúmeros botões, ou uma grande galeria para você navegar, nem outras distrações.
Sua tela se transforma em um portal para um lugar prazeroso e tranquilo.
Você tem uma foto para contemplar, explorar, prestar atenção aos detalhes. Na cor do cé

[2020-04-30 15:18] bruquevedo commented on #59
once @vjpixel is still working in the new text #75 and @tiagobugarin is developing some changes to the about page, can I extend my deadline to after you finish your tasks? It'll be easier to me if I can proposal based on this changes

[2020-04-30 15:26] vjpixel commented on #75
Fugere urbem é uma expressão em latim que significa "fugir da cidade". Originalmente usada pelo escritor latino Horácio, foi adotada como lema pela literatura árcade para simbolizar o poeta que se desloca da vida agitada da cidade e vai para a calma zona rural.

A proposta de bucoli.co é aproveitar alguns instantes do enorme tempo que passamos olhando para telas para fugir da poluição visual urban

[2020-04-30 15:29] vjpixel commented on #75
I think the text I wrote works best on the website and @bruquevedo text works best outside (on social media, for example). So my proposal is to use my text in the About page and Bruna's on #79.

[2020-04-30 15:30] bruquevedo commented on #56
@vjpixel could you please review this issue?

[2020-04-30 15:30] bruquevedo commented on #56
@tiagobugarin the image is already in our drive folder

[2020-04-30 15:32] bruquevedo commented on #58
![TOPO-BUCOLICO-04](https://user-images.githubusercontent.com/63117285/80729410-9ecf9b00-8ade-11ea-992f-cbeb7a829d51.jpg)

@vjpixel what do you think about this heading?

[2020-04-30 15:33] bruquevedo commented on #75
I agree

[2020-04-30 15:42] vjpixel commented on #59
If you approve the size of my text (600 characters), I think you can go on now. So there's no need to delay.

[2020-04-30 15:42] vjpixel commented on #56
Done!

[2020-04-30 15:42] vjpixel commented on #58
I love it!

[2020-04-30 15:45] bruquevedo commented on #74
I took a look in the two materials and I think that for an initial understanding is enough

[2020-04-30 16:09] bruquevedo commented on #59
![Proposta-Design-Sobre](https://user-images.githubusercontent.com/63117285/80732560-e1937200-8ae2-11ea-9a38-1920c8f4884d.jpg)

This is my proposal (based in some suggestions Joshu did previously). I think that the font text we are using now is too heavy and I propose to change to the old and know Arial and we can work the weight of some words using bold and italic.
The gray background square (#b5

[2020-04-30 16:15] bruquevedo commented on #59
@vjpixel and @tiagobugarin above you can see my proposal

[2020-04-30 17:35] vjpixel commented on #78
I just updated the description.

[2020-04-30 17:35] vjpixel commented on #78
Also, please move Joshu and Vanessa from the Staff to the Community group.

[2020-04-30 17:38] tiagobugarin commented on #75
i also agree with @vjpixel

[2020-04-30 17:39] vjpixel commented on #59
I like more @tiagobugarin approach (that is in the development environment now).

[2020-04-30 17:49] tiagobugarin commented on #73
mailchimp's subscription added. must test to see if it is working properly and do some design and text changes.

[2020-04-30 17:57] vjpixel commented on #73
I subscribed using test email account, but I didn't receive the confirmation.

[2020-04-30 17:58] vjpixel commented on #73
Also, "Assinar" in the menu, is starting with uppercase, not following the pattern.

[2020-04-30 18:18] vjpixel commented on #73
I checked Slack, and MailChimp says that the email address is subscribed. So I think that the only thing that is missing is to send the confirmation email to the user.

[2020-04-30 18:20] #75 closed

[2020-04-30 18:27] vjpixel commented on #59
I suggest removing bold from the first fugere urbem (the one at the beginning of the text).

[2020-04-30 18:32] vjpixel commented on #59
Fugere urbem é uma expressão em latim que significa _fugir da cidade_. Originalmente usada pelo escritor latino Horácio, foi adotada como lema pela literatura árcade para simbolizar o poeta que se desloca da vida agitada da cidade e vai para a calma zona rural.

A proposta de **bucoli.co** é aproveitar alguns instantes do enorme tempo que passamos olhando para telas para fugir da poluição visual u

[2020-04-30 18:37] bruquevedo commented on #57
Onboarding text to the next send (04/05)

O colorido do céu anuncia
que lá se vai mais um dia…
para um novo começar.
O mar bate calmo nas pedras
como quem sabe
que não é preciso se apressar.
Feche os olhos, reflita sobre o que passou
e pense no que está por vir.
Você pode
recomeçar, continuar,
retomar, progredir.
Não tenha medo, respire fundo
e respeite seu tempo.
Permita-se enxergar o horizonte
q

[2020-04-30 18:53] bruquevedo commented on #57
@vjpixel could you please review this issue?

[2020-04-30 18:58] vjpixel commented on #57
It's great!

[2020-04-30 19:03] vjpixel opened #84 "As a staff member, I want an @bucoli.co email so I can have an independent email."
_Deadline: Thu 20:00_

We miss having a @bucoli.co email. The username we decided is oi.

We need a @bucoli.co email.

[2020-04-30 19:19] bruquevedo commented on #78
Done. @tiagobugarin could you please review this issue?

[2020-04-30 19:27] tiagobugarin commented on #84
changes to the bucoli.co DNS records were made. let the tests begin!!!

@vjpixel @bruquevedo

[2020-04-30 19:28] tiagobugarin commented on #59
changes applyed to alpha.

[2020-04-30 19:29] tiagobugarin commented on #73
hmmm i think i saw something like that in the settings at mailchimp... will give a better look there

[2020-04-30 19:30] bruquevedo commented on #84
good!

[2020-04-30 19:48] vjpixel commented on #59
It seems good to me.

[2020-04-30 19:52] tiagobugarin commented on #81
alpha already has:
* new image
* about inside the index (no longer another page)
* everything working as a modal like block
* new text formating for the about text
* new about text and updated staff members' list
* subscribe form to receive bucoli.co's email every week

[2020-04-30 19:57] tiagobugarin commented on #76
listing every other thing i can remember:

sendpulse
mailchimp
google analytics
optimizely
userreport

[2020-04-30 19:59] tiagobugarin commented on #55
i think i saw every task, meeting and reminders... looks ok to me!

closing and moving

[2020-04-30 20:01] bruquevedo commented on #61
E-mail test was sent with the new email as you can see in issue #84

[2020-04-30 20:03] bruquevedo commented on #61
I received it in the inbox (uhu). Both links are working but the second link was automatically created by mailchimp so I need to fix it to a traceable link, right?

[2020-04-30 20:03] tiagobugarin commented on #61
test email with new "from" address received in the inbox and tracked link working

everything in its right place

[2020-04-30 20:14] tiagobugarin commented on #78
its done.

closing and moving

[2020-04-30 20:14] #78 closed

[2020-04-30 20:21] tiagobugarin commented on #84
@bruquevedo can you review this one?

[2020-04-30 20:22] vjpixel commented on #79
I just updated the deadline.

Vanessa said she can do it with @JoshuSantos . she asked to receive references for benchmarks, the tone, and ideas. can you send them, @bruquevedo ?

[2020-04-30 20:23] vjpixel commented on #79
This is the draft text we had created:

[2020-04-30 20:25] vjpixel commented on #61
The email text is missing its final dot.

[2020-04-30 20:27] bruquevedo commented on #79
Ok. Where do I send this information to them?

[2020-04-30 20:30] bruquevedo commented on #61
corrected

@vjpixel could you please review this issue?

[2020-04-30 20:30] vjpixel commented on #79
Here on this issue.

[2020-04-30 20:31] bruquevedo commented on #79
I'm gonna do this until tomorrow 12h that was my deadline. ok?

[2020-04-30 20:32] vjpixel commented on #79
ok

[2020-04-30 20:33] bruquevedo commented on #84
I sent the email test to our staff using it so yes, we have oi@bucoli.co email working :)

[2020-04-30 20:33] vjpixel commented on #61
Also, the second bucoli.co link is not tracked.

[2020-04-30 20:33] vjpixel commented on #61
Can you please send the email again so I can check? @bruquevedo

[2020-04-30 20:36] vjpixel commented on #61
Also, I just noticed that when I click on "Veja este email em seu navegador" it opens a screen that, if I click on "Past Issues" it shows all emails (including the tests.

I think we need to delete "Past Issues" from the screen.

![Screenshot from 2020-04-30 17-35-12](https://user-images.githubusercontent.com/1034796/80756523-0e5a8000-8b09-11ea-8955-d8222da182bc.png)

[2020-04-30 20:38] vjpixel commented on #84
But

[2020-04-30 20:41] tiagobugarin commented on #84
ok. replying from the malichimp test sent earlier

[2020-04-30 20:43] bruquevedo commented on #61
@tiagobugarin could you please help me make the second link trackble? I tryed to do it myself but I'm missing something

[2020-04-30 20:45] tiagobugarin commented on #84
@bruquevedo sent a reply from the newest campaing test email sent from the new mail address. do you confirm receiving it? would you be kind to review again this issue?

[2020-04-30 20:59] bruquevedo commented on #84
Yes, I received!

[2020-04-30 20:59] #84 closed

[2020-04-30 21:00] bruquevedo commented on #61
I'm going to check it and then send the email test again

[2020-04-30 21:25] bruquevedo commented on #61
@tiagobugarin could you please help me how to delete this option?

[2020-04-30 21:27] tiagobugarin commented on #73
many clicks later it is done.
tested subscribing and unsubscribing.

curious thing: after i unsubscribed my email e other details were kept there but with an "unsubscribed" notation.

will give a look at data retention some other day. maybe enabling some GDPR features this can be mitigated.

[2020-04-30 21:27] tiagobugarin commented on #73
@vjpixel or @bruquevedo woulld any of you two review this?

[2020-04-30 21:43] bruquevedo commented on #73
I followed all the steps
1) fill the form;
2) An email is sent to confirm my subscription;
3) Received the email in the promotion tab;
4) Clicked in a link to confirm my subscription;
5) The link directs to a web link where I confirmed that I'm a human
6) Checked in the mailchimp and the email that I signed up is in the audience list

[2020-04-30 22:08] #73 closed

[2020-05-01 02:43] tiagobugarin commented on #72
first implementation
360 working
menu not working - had to remove it to make room for the fullscreen button from the 360 framework... will figure out an alternative tomorrow

[2020-05-01 13:45] #77 closed

[2020-05-01 14:08] vjpixel commented on #72
What's the link?

[2020-05-01 14:12] bruquevedo commented on #61
@vjpixel sent you a new test yesterday. Could you please review this issue?

[2020-05-01 14:15] tiagobugarin commented on #61
that bar on the top where you can click to see this screen cannot be selectivelly adjusted.
i can (and did) remove it all together, thou.
try again the "veja este email no navegador" link and give a feedback if it is ok with you, @bruquevedo and @vjpixel

[2020-05-01 14:16] tiagobugarin commented on #72
https://alpha.bucoli.co/experiencias/360/

[2020-05-01 14:17] bruquevedo commented on #61
Great! Now it only opens the email of the week.

[2020-05-01 15:04] bruquevedo commented on #79
hey @JoshuSantos here are my appointments:

O bucoli.co é um projeto que cria uma experiência que te convida e desacelerar.
A proposta é que você acesse o site e veja uma bela imagem de paisagem. Não há inúmeros botões, ou uma grande galeria para você navegar, nem outras distrações.
Sua tela se transforma em um portal para um lugar prazeroso e tranquilo.
Você tem uma foto para contemplar, explorar

[2020-05-01 20:03] tiagobugarin commented on #81
i believe alpha is ready for this sprint. @vjpixel would you review?

[2020-05-01 20:06] tiagobugarin commented on #60
believe it is ok to go through the process. would you @vjpixel review it.

keep in mind that there is no more 2 pages to test, just one. i wll update the task description to make it clear.

[2020-05-01 22:35] vjpixel commented on #60
Great! No errors or warnings!

[2020-05-01 22:47] vjpixel commented on #72
Good! It shows a 360 image!

We have some challenges ahead. The page can't go up/down and it's not reacting to the accelerometer yet (so it's not working in cardboard mode or moving the smartphone).

[2020-05-02 14:36] vjpixel commented on #81
Assinar and Sobre are working as supposed, just showing one content at a time. But the Feedback is opening on top of the other pages.

Is there a way to change this to have only one behavior?

[2020-05-02 16:44] vjpixel opened #85 "As a community member, I want to see old pictures so I can revisit places I know."
This week we realized a problem in our approach to remind the community that there's a new picture. Since we're sending emails with the homepage (bucoli.co) link:
- When old community members open old emails and click on the link, the image opened isn't the same the text was written for.
- When community members (old or new) try to open MailChimp archives, they get the same error.

Since (1) it br

[2020-05-02 16:46] vjpixel commented on #33
Solving #85 allows us to fix this.

[2020-05-02 17:12] vjpixel commented on #85
Also, there are major improvements to include this.

1. We don't have an archive of the old pictures, so we don't know the pictures that were already sent. This implies many issues, for example, we need to have a look at what was already sent when choosing a new picture. Having this archive is an easy way to revisit old pictures while choosing new ones.

2. Having an archive allows us to detach th

[2020-05-02 17:18] vjpixel commented on #81
Since there are people accessing the website from the last email, we need to deploy it just before we send the next email, so the deadline initially proposed is wrong.

I propose to the deploy to be made _Sunday at 20:00_ (so there's time to other team members to review and to the developer to fix an eventual problem).

[2020-05-02 17:20] vjpixel commented on #61
There's a bug on our emails, described in #85.

I propose that we fix the bug and send the test again.

[2020-05-03 00:28] JoshuSantos commented on #79
Hello people.

I will put here all 3 ads that Vanessa and I did.
They work just fine on any Social Media Apps as long as you upload the image and use the caption as ... caption. 😃

We’ve chosen to keep the texts short, sensitive and direct so the audience is invited to click on the link and live the experience. Hope you like it!

If you have any doubt, contact us.

[2020-05-03 00:29] JoshuSantos commented on #79
Caption:

Em um mundo “automático”, sentir é um privilégio. 😌 O #bucolico te convida a relaxar através de um dos sete sentidos: a visão. Experimente: www.bucoli.co.

![bucolico_ad_01](https://user-images.githubusercontent.com/63420415/80895486-f2e3a680-8cbb-11ea-8ce5-2cc963f375c7.jpg)

[2020-05-03 00:30] JoshuSantos commented on #79
Caption 02:

Em meio a tantas notícias, você já se permitiu respirar hoje? 💆🏽‍♀️ O #bucolico te convida a desacelerar e descobrir uma nova janela... para dentro de você. Experimente: www.bucoli.co.

![bucolico_ad_02](https://user-images.githubusercontent.com/63420415/80895505-14dd2900-8cbc-11ea-8976-67159342390e.jpg)

[2020-05-03 00:31] JoshuSantos commented on #79
Caption 03:

Colocar o pé no freio faz toda a diferença para ver melhor a paisagem 😉 O #bucolico te convida a desacelerar e descobrir como é sair do modo automático. Experimente: www.bucoli.co.

![bucolico_ad_03](https://user-images.githubusercontent.com/63420415/80895514-2faf9d80-8cbc-11ea-930a-bcb4e6a8a260.jpg)

[2020-05-03 19:04] vjpixel commented on #81
@tiagobugarin ping

[2020-05-03 19:17] vjpixel commented on #85
@tiagobugarin can you please review?

[2020-05-03 19:24] vjpixel commented on #85
@tiagobugarin you told me you have the archive of old images. can you change the code with the right file names? I left comments in the file specifying the images.

[2020-05-03 19:26] vjpixel commented on #79
@JoshuSantos thank you!

[2020-05-03 19:32] vjpixel commented on #76
I didn't find users from them on SendPulse, MailChimp, Analytics, Optimizely, or UserReport.

I removed them from the Slack channels, from the Github repository, and from the Drive folder.

can you please review @tiagobugarin

[2020-05-03 21:24] tiagobugarin commented on #76
I can confirm the removal of their profiles from the Google Drive shared folder. So this on is a go.
The Slack channels I can confirm the removal of almost all channels. They are still members of the groups `#general` and `#random". If this is as intended, then this one is a second go.
I cannot, make any assesment on the Github repository as can't confirm. I see my self, and @vjpixel but I don't s

[2020-05-03 21:54] tiagobugarin commented on #81
fixed.

[2020-05-03 23:08] tiagobugarin commented on #85
just saw this one... can't do it now. but tomorrow... it is not that i have kept a ledge or something... i just have a process in mind to put every image i have in the right order... would need some time to collect everything and order correctly, including dates of release.

[2020-05-04 01:07] tiagobugarin commented on #85
done...
checkout archive function in the experiments folder
https://alpha.bucoli.co/experiencias/archive/

[2020-05-04 01:10] tiagobugarin commented on #85
my revirew: the code works as intended providing a selectable function and i can say the `archive` branch is working ok.

the thing is, is it ready for merge the `master` branch, @vjpixel ?

[2020-05-04 13:22] vjpixel commented on #83
My plan was to create an article about "how I created bucoli.co roadmap". But after creating the roadmap, I'm not secure to write an article. I think I need to learn more about roadmaps and/or improve our roadmap before writing this article.

Since we're still not advertising bucoli.co, I decided to not run for a subject to write about now. I'll wait for our advertising strategy to start being imp

[2020-05-04 13:22] vjpixel commented on #83
@tiagobugarin, please tell me if you agree.

[2020-05-04 13:26] vjpixel commented on #72
I think we've done enough for this sprint. @bruquevedo, if you agree with this, can you please close this issue?

[2020-05-04 13:28] vjpixel commented on #85
yes! I build it on the last commit on the `master` branch. @tiagobugarin

[2020-05-04 13:32] tiagobugarin commented on #83
yes, agree. better wait and collect your thoughts and metrics and have a clear undestanding of everything bucoli.co and then write about it.

[2020-05-04 13:33] bruquevedo commented on #72
Yes, I agree

[2020-05-04 14:30] bruquevedo commented on #61
@vjpixel can I already send it?

[2020-05-04 16:03] vjpixel commented on #61
We agreed to discuss before sending it.

[2020-05-04 16:39] tiagobugarin commented on #85
actually you built and merged it to the `archive` branch, @vjpixel

[2020-05-04 17:14] vjpixel commented on #85
what I tried to say is that I build on top of the last commit on the `master` branch. @tiagobugarin =)

[2020-05-05 02:32] tiagobugarin commented on #85
Following the meeting from this afternoon (may 4th, 2020) we defined some steps to resolve this issue.

First, the gathering of the historical order of the images. This task was taken by @bruquevedo who made most of it with some help from me to elucidate some technical stuff and follow some commit dates.
With this we got to a pretty fair state of the actual usage of images at the production site i

[2020-05-05 04:19] tiagobugarin commented on #85
Following the meeting from this afternoon (may 4th, 2020) we defined some steps to resolve this issue.

Second, is to merge the archive code into the Master branch, to have it pulled into `alpha` site and tested. All went well and alpha is ready to be reviewed for production.

[2020-05-05 04:23] tiagobugarin commented on #85
Ohhhh remember something, validators and browser compatibility!

Went down the path to validate de code and verify compatibility as #60 mandates. Code is ok and ready to be reviewed for production.

And now I think this third step gets us to finally have this issue ready to be closed.

[2020-05-05 13:13] bruquevedo commented on #85
@tiagobugarin I just tested the archive in alpha.
- The image sequence is correct and the permalinks are working;
- I checked all the menu in each photo and everthing is working well;

Let's go to production :)

[2020-05-05 13:18] #85 closed

[2020-05-05 13:33] bruquevedo commented on #64
feedbacks are being answered directly in the tool on the website as the community leaves its comments

[2020-05-05 13:33] #64 closed

[2020-05-05 13:46] tiagobugarin commented on #81
Following #85 the site has been deployed at 10h35, May 5th 2020.
Closing and moving.

[2020-05-05 13:50] tiagobugarin commented on #80
This issue has not been completed within the sprint for 0.0.4 and is being pushed to 0.0.5 sprint.

[2020-05-05 13:50] tiagobugarin commented on #82
This issue has not been completed within the sprint for 0.0.4 and is being pushed to 0.0.5 sprint.

[2020-05-05 13:53] bruquevedo commented on #61
We fixed the problem in the issue #85 as you can check there.
I just sent the email test to our staff. Please @tiagobugarin and @vjpixel review the email. Check if the first link is sending to the permalink and the second directly to bucoli.co
If you want, you can check if the other permalinks are working to.
Soon me and @tiagobugarin will do a protocol to the e-mail review. But now you can pay at

[2020-05-05 13:55] tiagobugarin commented on #61
email received at the inbox. the two links to `bucoli.co` at the body of the email are being tracked and are working correctly.

[2020-05-05 14:00] bruquevedo commented on #61
- Email received at the inbox;
- The two links are ok;
- The "veja esse e-mail no seu navegador" link working correctly;

[2020-05-05 18:06] vjpixel commented on #61
Same here.

[2020-05-05 19:14] tiagobugarin commented on #82
When i raised this proposal i had one forum software in mind, [Discourse](https://discourse.org).
![image](https://user-images.githubusercontent.com/2608534/81103428-64536d00-8ee7-11ea-98a3-27a36e7e2013.png)
(image from Dircourse's own Discourse forum, [meta.discourse.org](https://meta.discourse.org/))

A few notable communities sites powered by discourse at this time: [Imgur Community](https://co

[2020-05-05 19:22] tiagobugarin commented on #80
To address this issue along side with the CI/CD thing it is needed to separete withing the Git structure of the project what is a branch for the alpha and what is a branch for the production so that there will be no mistake or misunderstanding of which is which.

For this purpose I set up a branch called `alpha` in which the development will occur in a daily basis and will be the branch to be pour

[2020-05-05 20:24] vjpixel commented on #80
Great!

[2020-05-05 20:43] vjpixel commented on #81
I updated the description to reflect what was said in https://github.com/memeLab/bucoli.co/issues/80#issuecomment-624256022

[2020-05-05 20:51] vjpixel commented on #81
I want to propose a step after deploy, to manually create a snapshot on the Internet Archive. The feature allows to "capture a web page as it appears now for use as a trusted citation in the future."

To do This:
1. Go to https://archive.org/web/
2. Fill Save Page Now with http://bucoli.co

@tiagobugarin, if you agree, I will put this step in the description of this issue.

[2020-05-05 20:56] vjpixel commented on #55
I just updated the description.

[2020-05-05 21:11] vjpixel commented on #74
I just updated the description.

[2020-05-05 21:14] vjpixel commented on #74
My proposal is to use Semantic Versioning: https://semver.org/

What do you think @tiagobugarin?

[2020-05-05 21:18] vjpixel commented on #58
Since we decided to create the image for the next week in this Sprint, I put the deadlines for both products in the description.

[2020-05-05 21:19] vjpixel commented on #56
Since we decided to create the image for the next week in this Sprint, I put the deadlines for both products in the description.

[2020-05-05 21:21] vjpixel commented on #68
The roadmap was presented in the last Sprint Review.

[2020-05-05 21:22] vjpixel commented on #68
I just updated the description to adapt this task as recurring.

[2020-05-05 21:33] #63 closed

[2020-05-05 21:40] vjpixel opened #86 "As a staff member, I want an organized schedule, so I can remember what I need to act now."
_Deadline: Tue 18:00_

We're always adjusting our way of communicating. We use Slack to have reminders of due tasks and Calendar to organize meetings.

We need to have reminders of the tasks due today and tomorrow on Slack, and meetings scheduled on Calendar.

[2020-05-05 21:45] vjpixel commented on #62
Since we decided to create the image for the next week in this Sprint, I put the deadlines for both products in the description.

[2020-05-05 21:47] vjpixel commented on #81
Since we decided to create the image for the next week in this Sprint, I put the deadlines for both products in the description.

[2020-05-05 21:49] vjpixel commented on #61
Since we decided to create the image for the next week in this Sprint, I put the deadlines for both products in the description.

[2020-05-05 22:00] vjpixel commented on #61
Since the revision protocol will be implemented inside this issue, I included it (and deadline) in the description.

[2020-05-05 22:07] vjpixel opened #87 "As a staff member, I want a way to have organized deadlines on GitHub, so I can understand the schedule."
_Deadline: Fri 18:00_

Since GitHub doesn't have an easy way to organize the deadlines, we've been struggling to organize them in an intuitive way.

We're looking for a way to have built-in deadlines on GitHub.

[2020-05-05 22:13] vjpixel commented on #55
@tiagobugarin can you please check if I accomplished this?

Since it's too many tasks, and some of them will be solved twice, I have a proposal in a way that it doesn't take too much time for you: check your tasks (as a sample).

Check if your issues are organized in order to reflect the task planning we made in the Sprint Planning.

[2020-05-05 22:14] vjpixel commented on #55
This Sprint I split this issue in two because it's too long. Now the schedule organization is in #86.

[2020-05-05 22:15] vjpixel commented on #86
Model created last week:

`/remind #bucolico "Tasks with deadlines today for @Tiago #73 #72, for @vjpixel #74 #75 #76, for @Bruna Quevedo #56 # 59 #57 #58" Thu 9:00`

[2020-05-05 23:02] vjpixel commented on #86
I'll write all sentences for this week's reminders here.

**Tuesday 20:00**

`/remind @Bruna Quevedo "Tasks due tomorrow
9h https://github.com/memeLab/bucoli.co/issues/62
16h https://github.com/memeLab/bucoli.co/issues/56
" today 20:00`

**Wednesday 9:00**

`/remind @Bruna Quevedo "Tasks due today
9h https://github.com/memeLab/bucoli.co/issues/62
16h https://github.com/memeLab/bucoli.co/issues/56

[2020-05-05 23:08] vjpixel commented on #86
@bruquevedo can you please review?

I suggest you check:
* if I said "today" at the beginning of the day and "tomorrow" in the end
* check if the days and times on bold and in the messages are the same.

[2020-05-06 13:15] bruquevedo commented on #62
email from the sprint 0.0.5 sent to our community

[2020-05-06 13:18] bruquevedo commented on #62
@tiagobugarin could you please review this issue and change the milestone to 0.0.5?

[2020-05-06 14:06] bruquevedo commented on #56
My suggestion to sprint 0.0.5

![0001_BUCOLICO_SPRINT_005](https://user-images.githubusercontent.com/63117285/81186791-9cab8780-8f89-11ea-9678-d7aad27717a7.jpg)

[2020-05-06 14:06] bruquevedo commented on #56
My suggestion to sprint 0.0.6

![002_BUCOLICO_SPRINT_006](https://user-images.githubusercontent.com/63117285/81186846-ae8d2a80-8f89-11ea-89c5-9699bc20298a.jpg)

[2020-05-06 14:11] bruquevedo commented on #56
hey @vjpixel and @tiagobugarin above you can see the images I chose to milestone 0.0.5 and 0.0.6. Could you please review??

[2020-05-06 14:18] bruquevedo commented on #86
I received the reminder in slack, the way you are doing this time is really good.
In the issue description you said "We need to have reminders of the tasks due today and tomorrow on Slack (done), and meetings scheduled on Calendar - I didn't receive the invite in google calendar.

[2020-05-06 14:33] vjpixel commented on #86
Oh, I forgot this part. Thank you for the reminder.

[2020-05-06 14:35] vjpixel commented on #56
I think the one chose for 0.0.5 is a little monotonous and claustrophobopic. Can you propose another one?

[2020-05-06 15:36] bruquevedo commented on #56
@vjpixel what about this one?

![003_BUCOLICO_SPRINT_005_V2](https://user-images.githubusercontent.com/63117285/81197006-26615200-8f96-11ea-94b5-ada588d7b04c.jpg)

[2020-05-06 20:04] vjpixel commented on #86
I just proposed on Slack to cancel the two meetings I'm part, and that the members of the other meetings schedule them on Calendar (so I don't need to have a meeting in my Calendar that I won't attend).

[2020-05-06 20:06] vjpixel commented on #76
@tiagobugarin

It's ok to have them on Slack. We have other users there too.

Can you please try this "https://github.com/memeLab/bucoli.co/settings/access" link? It should show Bruna's user but not Joshu's.

[2020-05-06 20:27] vjpixel commented on #74
Also, I propose we rename the Milestones. Instead of using "0.0.1", "0.0.2", and so on, to use the email related to it. I propose we use numbers in full "one", two", and so on. This way, the next Milestone will be "seven". What do you think? @bruquevedo

[2020-05-07 18:31] vjpixel commented on #56
Great!

[2020-05-07 19:24] bruquevedo commented on #57
Onboarding text to sprint 0.0.5. You can see the image related in the issue #56

O caminho que se vê à frente
te convida a ter coragem
para superar desafios.
Inspire-se pelo ambiente que te cerca,
tenha força, passos firmes
e experimente desbravar o desconhecido.
Pare por um momento,
contemple o verde suave
que brota por entre as rochas.
É a natureza te mostrando
que sempre é possível seguir em fr

[2020-05-07 19:27] vjpixel commented on #57
Great!

[2020-05-07 19:27] #57 closed

[2020-05-07 19:36] bruquevedo commented on #58
personalized image to sprint 0.0.5

![TOPO-BUCOLICO-SPRINT-005](https://user-images.githubusercontent.com/63117285/81337096-db703900-9080-11ea-9d08-0eca82a17a1d.jpg)

[2020-05-08 14:07] vjpixel commented on #58
Great!

[2020-05-08 14:09] vjpixel commented on #56
Closing for 0.0.6.

[2020-05-08 14:09] #56 closed

[2020-05-08 14:43] bruquevedo commented on #61
@tiagobugarin and @vjpixel I sent the email test for sprint 0.0.5 yesterday.

Please follow this steps to check the email (this is my suggestion of revision protocol):

- Did you receive the email in the inbox?;
- Ts the "Veja este e-mail no seu navegador" link working correctly?;
- Is the personalized heading related to the chosen image for this sprint?;
- Is the onboarding text related to the ch

[2020-05-08 14:47] bruquevedo commented on #61
1 - Yes;
2 - Yes;
3 - Yes;
4 - Yes;
5 - No, it needs to be corrected to number 7, because number 6 is from the past sprint;

[2020-05-08 14:59] bruquevedo commented on #58
personalized heading for sprint 0.0.6. You can see the related image in the issue #56

![TOPO-BUCOLICO-SPRINT-006](https://user-images.githubusercontent.com/63117285/81418594-483c0f80-9123-11ea-9fb2-8a9573359ea1.jpg)

[2020-05-08 15:11] vjpixel commented on #58
Great!

[2020-05-08 15:11] #58 closed

[2020-05-08 18:14] vjpixel commented on #61
1 - Yes;
2 - Yes;
3 - Yes;
4 - Yes;
5 - No, as @bruquevedo said before.
6 - In the end, I propose to use an exclamation mark tp fnish the sentence: "Até a próxima imagem!"

I'll wait for the link so I can review it again. I propose you just ask for people to review after you have reviewed yourself and consider it done.

[2020-05-08 18:45] vjpixel opened #91 "As a staff member, I need established goals, so I can make better decisions."
We discussed our goals in a generic way, but we need to be more specific, so we know when we reached the goals.

I'm using the OKR framework to set the goals in a specific way. To understand what OKR is, I recommend [this TED talk](https://youtu.be/L4N1q4RNi9I) and the [OKR Wikipedia page](https://en.wikipedia.org/wiki/OKR).

We need to have measurable goals.

[2020-05-08 18:46] vjpixel commented on #91
OKR has two components, the Objective and the Key Results:

**Objectives** are memorable qualitative descriptions of what you want to achieve. Objectives should be short, inspirational and engaging. An Objective should motivate and challenge the team.

**Key Results** are a set of metrics that measure your progress towards the Objective. For each Objective, you should have a set of 2 to 5 Key Resu

[2020-05-08 19:01] vjpixel commented on #91
My proposal for May:

**Objective**
Increase our community

**Key results**
. Get 72 new subscribers.
. Have a day with more than 50 users (based on Google Analytics).
. Have comments from 10 community members in the Feedback.

Can you review @bruquevedo ?

[2020-05-08 19:53] bruquevedo commented on #74
@vjpixel I agree. I think that this way will be easier to comunicate about the milestone in the different places we need

[2020-05-08 19:55] vjpixel commented on #86
Considering this, can you please review @bruquevedo?

[2020-05-08 20:08] tiagobugarin commented on #76
I don't know if I missied this spot earlier or if that bump in my permissions here in github the other day allowed me to see that now but the fact is that with this panel I can confirm we are just us three.

so now, summarizing:

- Google Drive Shared Folder: ok
- Slack Channles: ok
- Github Repositoy: ok

with this, i close and move this issue to Done

[2020-05-08 20:08] #76 closed

[2020-05-08 20:11] tiagobugarin commented on #62
i confirm the email...

closing, bumping to 0.0.5 and moving to next backlog

[2020-05-08 20:14] tiagobugarin commented on #55
it looks like everything is in place for my sampled subjects ( ehehehe )

closing and moving

[2020-05-08 20:14] #55 closed

[2020-05-08 20:29] bruquevedo commented on #86
Considering this, you did all.

[2020-05-08 20:29] #86 closed

[2020-05-10 09:55] tiagobugarin commented on #87
Spent sometime looking for something and the best thing I could find was this Github action that takes a variable the top of the issue with the due date (deadline) and places/replaces a label with the status.

https://github.com/alexleventer/github-issue-due-dates-action

What do you think @vjpixel? Should we try this?

Also I found a issue at the Github project it self about this dating back to 2

[2020-05-10 10:04] tiagobugarin commented on #61
Concerning to the second email:

1. Yes
2. Yes
3. Yes
4. Yes
5. Yes
6. Yes... oh wait, not a yes/no question... nothing to add at this point.

[2020-05-10 10:06] tiagobugarin commented on #74
I like semver very much. we could use it!

[2020-05-10 10:08] tiagobugarin commented on #74
A few weeks back I would not like this idea but now I feel it can better our understanding of the process. BTW, makes it very clear about the number in the permalink.

[2020-05-10 10:13] tiagobugarin commented on #60
This week I barely touched the code so that everything stayed as good as before in regard to validators and testing...

@vjpixel would you review, pls

[2020-05-10 10:14] tiagobugarin commented on #82
@vjpixel @bruquevedo

Did you guys had a look at this? Can anyone of you two review?

[2020-05-10 10:16] tiagobugarin commented on #81
I like that!

[2020-05-10 10:18] tiagobugarin commented on #81
Makes total sense to me. Sun 20h is good to me

[2020-05-10 10:22] tiagobugarin commented on #80
Due to personal problems I could not finish this at this sprint and now `alpha` branch is on freeze. so no more testing!
I have studied a little more about how Github Actions work and I believe I have figured out what I was missing.

Sorry, but will bump it one more week :/

[2020-05-10 10:23] tiagobugarin commented on #80
This issue has not been completed within the sprint for 0.0.5 and is being pushed to 0.0.6 sprint.

[2020-05-11 14:20] vjpixel commented on #87
Since the action just labels as `Overdue` and `Due in 1 week`, I think it doesn't add us very much.

I did some research and [Jira](https://www.atlassian.com/software/jira/features) has reminders, [automation](https://www.atlassian.com/software/jira/features/automation) and very good integrations with [Slack](https://my.slack.com/apps/A2RPP3NFR-jira-cloud?next_id=0) and [Github](https://github.com

[2020-05-11 14:22] vjpixel commented on #60
I checked and everything is OK.

[2020-05-11 14:22] #60 closed

[2020-05-11 14:26] vjpixel commented on #82
I think that the Feedback system we have now is leaner than a forum. How about we try to rename it (maybe to Discussion) and give it a try?

[2020-05-11 14:27] vjpixel commented on #81
OP?

[2020-05-11 14:28] vjpixel commented on #80
No problem!

[2020-05-11 14:41] bruquevedo commented on #91
Yes, I think that we have challenging numbers but we can work to achive than. Once we start to publicize bucoli.co its going to help increase our community

[2020-05-11 14:41] #91 closed

[2020-05-11 14:43] vjpixel commented on #74
Since we're settled, I'm closing this one.

[2020-05-11 14:43] #74 closed

[2020-05-11 14:47] bruquevedo commented on #82
I think that it's a good idea because using a tool we already have implemented we can measure how the community behaves using it to analize what we need to do to engage community and if we need another tool or not.

[2020-05-11 14:49] bruquevedo commented on #61
@vjpixel could you please review this issue?

[2020-05-11 14:53] vjpixel commented on #61
I checked, and it's working great!

[2020-05-11 14:53] #61 closed

[2020-05-11 15:27] tiagobugarin commented on #81
Original Post

[2020-05-11 15:30] tiagobugarin commented on #81
Made the first manual publication to the Internet Archive's WayBack Machine

[2020-05-11 16:06] vjpixel commented on #81
Great!

[2020-05-11 23:23] #81 closed

[2020-05-12 11:40] bruquevedo commented on #62
Email sent to our community. @tiagobugarin could you please review?

[2020-05-13 02:59] tiagobugarin commented on #62
Waited a few ours to see the results of the campaing and review here.

There was 28 successfully sent emaisl (100%).

I can confirm! Closing and moving.

[2020-05-13 02:59] #62 closed